<!DOCTYPE html>
<html lang="ja">

<head>
    <script>!function (e, t, a, n, g) { e[n] = e[n] || [], e[n].push({ "gtm.start": (new Date).getTime(), event: "gtm.js" }); var m = t.getElementsByTagName(a)[0], r = t.createElement(a); r.async = !0, r.src = "https://www.googletagmanager.com/gtm.js?id=GTM-5ZFSZL8", m.parentNode.insertBefore(r, m) }(window, document, "script", "dataLayer")</script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="format-detection" content="telephone=no, address=no, email=no">
    <title>UKIYO-E Gallery | Home</title>
    <meta name="description"
        content="UKIYO-E Gallery: Explore the rich world of traditional Japanese Ukiyo-e art. Discover a curated collection of iconic woodblock prints, showcasing the beauty and history of Japan's Edo period. Immerse yourself in a vibrant culture through timeless masterpieces. / 浮世絵ギャラリー：日本の伝統的な浮世絵の世界を探求しましょう。江戸時代の美と歴史を映し出す、象徴的な木版画の厳選コレクションをご覧ください。永遠の名作を通じて、豊かな文化に浸ってみませんか。">
    <meta name="theme-color" content="#2F2F2F">
    <meta name="canonical" content="">
    <meta property="og:type" content="website">
    <meta property="og:site_name"
        content="UKIYO-E Gallery / 浮世絵ウキヨエ">
    <meta property="og:title"
        content="UKIYO-E Gallery / 浮世絵ウキヨエ">
    <meta property="og:description"
        content="UKIYO-E Gallery: Explore the rich world of traditional Japanese Ukiyo-e art. Discover a curated collection of iconic woodblock prints, showcasing the beauty and history of Japan's Edo period. Immerse yourself in a vibrant culture through timeless masterpieces. / 浮世絵ギャラリー：日本の伝統的な浮世絵の世界を探求しましょう。江戸時代の美と歴史を映し出す、象徴的な木版画の厳選コレクションをご覧ください。永遠の名作を通じて、豊かな文化に浸ってみませんか。">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <meta name="twitter:title"
        content="UKIYO-E Gallery / 浮世絵ウキヨエ">
    <meta name="twitter:description"
        content="UKIYO-E Gallery: Explore the rich world of traditional Japanese Ukiyo-e art. Discover a curated collection of iconic woodblock prints, showcasing the beauty and history of Japan's Edo period. Immerse yourself in a vibrant culture through timeless masterpieces. / 浮世絵ギャラリー：日本の伝統的な浮世絵の世界を探求しましょう。江戸時代の美と歴史を映し出す、象徴的な木版画の厳選コレクションをご覧ください。永遠の名作を通じて、豊かな文化に浸ってみませんか。">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:image" content="">
    <link rel="icon" href="/homepage/favicons/images-favicon.ico">
    <link rel="apple-touch-icon" sizes="180x180" href="/homepage/favicons/images-apple-touch-icon.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&amp;display=swap" rel="stylesheet">
    <script>!function (e) { var t, a = { kitId: "khe8dcb", scriptTimeout: 3e3, async: !0 }, c = e.documentElement, i = setTimeout((function () { c.className = c.className.replace(/\bwf-loading\b/g, "") + " wf-inactive" }), a.scriptTimeout), n = e.createElement("script"), s = !1, o = e.getElementsByTagName("script")[0]; c.className += " wf-loading", n.src = "https://use.typekit.net/" + a.kitId + ".js", n.async = !0, n.onload = n.onreadystatechange = function () { if (t = this.readyState, !(s || t && "complete" != t && "loaded" != t)) { s = !0, clearTimeout(i); try { Typekit.load(a) } catch (e) { } } }, o.parentNode.insertBefore(n, o) }(document)</script>
    <script defer src="/homepage/js/js-app.js"></script>
    <link  href="/homepage/css/css-app.css" rel="stylesheet" />
</head>

<body id="page-index"><noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5ZFSZL8" height="0"
            width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <div class="t-basic" data-theme="basic">
        <div class="t-basic__bg" data-basic-bg></div>
        <div class="t-basic__fog" data-basic-bg-fog>
            <div class="c-fog">
                <div class="c-fog__main"></div>
            </div>
        </div>
        <div class="s-opening" data-sec="opening">
            <div class="s-opening__bg" data-opening-bg></div>
            <div class="s-opening__fog" data-opening-fog>
                <div class="c-fog">
                    <div class="c-fog__main"></div>
                </div>
            </div>
            <div class="s-opening__main">
                <div class="s-opening__unit" data-opening-unit>
                    <div class="s-opening__wrapper" data-opening-wrapper>
                        <p class="s-opening__logo" data-opening-logo><svg xmlns="http://www.w3.org/2000/svg"
                                viewbox="0 0 120.64 20.976">
                                <title>UKIYO-E Gallery.</title>
                                <text x="0" y="20" font-family="Inter" font-size="25" font-weight="900" fill="#ffffff">UKIYO-E </text>
                            
                            </svg></p>
                        <p class="s-opening__tagline" data-opening-tagline><span>Tradition &amp; Heritage</span></p>
                    </div>
                </div>
            </div>
        </div>
        <header id="header" class="s-header">
            <div class="s-header__main" data-visual-show="logo"><svg xmlns="http://www.w3.org/2000/svg"
                    viewbox="0 0 26.278 33.258">
                    <g transform="translate(-194.6 -231.089)">
                        <g transform="translate(194.6 259.001)">                           
                        </g>
                        <path
                            d="M222.22,231.089V254.14h-5.071V241.375a.207.207,0,0,0-.395-.086l-5.868,12.851h-2.92l-5.815-12.852a.207.207,0,0,0-.4.088l.035,9.81-4.725,4.709a.2.2,0,0,1-.333-.138l-.06-24.669h5.493l6.939,15.237a.356.356,0,0,0,.647,0l7.013-15.238Z"
                            transform="translate(-1.342 0)"></path>
                    </g>
                </svg></div>
            <div class="s-header__menu" data-visual-show="rain"><a href="#" data-micromodal-trigger="menu-modal"
                    data-menu-open>
                    <div class="c-logo" data-logo><svg class="c-logo__base" xmlns="http://www.w3.org/2000/svg"
                            viewbox="0 0 100.582 20.5">
                            <g transform="translate(-294.906 -137.726)">
                                <path
                                    d="M468.472,140.594a1.794,1.794,0,0,0-2.538,0l-11.708,11.664a1.795,1.795,0,1,0,2.538,2.538l11.708-11.664A1.794,1.794,0,0,0,468.472,140.594Z"
                                    transform="translate(-114.108 -1.683)"></path>
                                <path
                                    d="M392.475,146.365a1.79,1.79,0,0,0,1.269-.526l2.353-2.353a1.795,1.795,0,1,0-2.538-2.538l-2.353,2.353a1.795,1.795,0,0,0,1.269,3.064Z"
                                    transform="translate(-68.822 -1.938)"></path>
                                <path
                                    d="M352.039,164.848l-9.425,9.426a1.795,1.795,0,1,0,2.538,2.538l9.425-9.426a1.795,1.795,0,0,0-2.538-2.538Z"
                                    transform="translate(-33.905 -19.112)"></path>
                                <path
                                    d="M581.864,146.365c.022,0,.044-.005.067-.006s.044.006.066.006a1.789,1.789,0,0,0,1.269-.526l1.886-1.886a1.776,1.776,0,0,0,.321-.454l.013-.013a1.795,1.795,0,1,0-2.538-2.538l-2.353,2.353a1.795,1.795,0,0,0,1.269,3.064Z"
                                    transform="translate(-204.915 -1.938)"></path>
                                <path
                                    d="M541.427,164.848,532,174.273a1.795,1.795,0,0,0,2.538,2.538l9.426-9.426a1.795,1.795,0,0,0-2.538-2.538Z"
                                    transform="translate(-169.997 -19.112)"></path>
                                <path
                                    d="M314.88,138.251a1.8,1.8,0,0,0-2.538,0l-16.91,16.91a1.795,1.795,0,1,0,2.538,2.538l16.91-16.91A1.8,1.8,0,0,0,314.88,138.251Z">
                                </path>
                                <path
                                    d="M599.454,138.251a1.794,1.794,0,0,0-2.538,0l-16.91,16.91a1.795,1.795,0,1,0,2.538,2.538l16.91-16.91A1.794,1.794,0,0,0,599.454,138.251Z"
                                    transform="translate(-204.492)"></path>
                                <path
                                    d="M430.614,140.789a1.794,1.794,0,0,0-2.538,0l-7.937,7.938a1.795,1.795,0,1,0,2.538,2.538l7.938-7.938A1.794,1.794,0,0,0,430.614,140.789Z"
                                    transform="translate(-89.613 -1.823)"></path>
                                <path
                                    d="M394.676,185.087l-3.73,3.73a1.795,1.795,0,0,0,2.538,2.538l3.729-3.73a1.795,1.795,0,0,0-2.538-2.538Z"
                                    transform="translate(-68.636 -33.655)"></path>
                                <path
                                    d="M524.445,140.789a1.794,1.794,0,0,0-2.538,0l-7.938,7.938a1.795,1.795,0,0,0,2.538,2.538l7.938-7.938A1.794,1.794,0,0,0,524.445,140.789Z"
                                    transform="translate(-157.038 -1.823)"></path>
                                <path
                                    d="M488.507,185.087l-3.73,3.73a1.795,1.795,0,1,0,2.538,2.538l3.73-3.73a1.795,1.795,0,0,0-2.538-2.538Z"
                                    transform="translate(-136.061 -33.655)"></path>
                                <circle cx="1.83" cy="1.83" r="1.83" transform="translate(335.067 154.566)"></circle>
                            </g>
                        </svg>
                        <div class="c-logo__area c-logo__area--1"><span class="c-logo__wrap" data-logo-wrap><span
                                    class="c-logo__bar"></span> <span class="c-logo__bar"></span> <span
                                    class="c-logo__bar"></span></span></div>
                        <div class="c-logo__area c-logo__area--2"><span class="c-logo__wrap" data-logo-wrap><span
                                    class="c-logo__bar"></span> <span class="c-logo__bar"></span> <span
                                    class="c-logo__bar"></span></span></div>
                        <div class="c-logo__area c-logo__area--3"><span class="c-logo__wrap" data-logo-wrap><span
                                    class="c-logo__bar"></span> <span class="c-logo__bar"></span> <span
                                    class="c-logo__bar"></span></span></div>
                        <div class="c-logo__area c-logo__area--4"><span class="c-logo__wrap" data-logo-wrap><span
                                    class="c-logo__bar"></span> <span class="c-logo__bar"></span> <span
                                    class="c-logo__bar"></span></span></div>
                        <div class="c-logo__area c-logo__area--5"><span class="c-logo__wrap" data-logo-wrap><span
                                    class="c-logo__bar"></span> <span class="c-logo__bar"></span> <span
                                    class="c-logo__bar"></span></span></div>
                        <div class="c-logo__area c-logo__area--6"><span class="c-logo__wrap" data-logo-wrap><span
                                    class="c-logo__bar"></span> <span class="c-logo__bar"></span> <span
                                    class="c-logo__bar"></span></span></div>
                        <div class="c-logo__area c-logo__area--7"><span class="c-logo__wrap" data-logo-wrap><span
                                    class="c-logo__bar"></span> <span class="c-logo__bar"></span> <span
                                    class="c-logo__bar"></span></span></div>
                    </div>
                </a></div>
        </header>
        <ul class="s-header__nav u-no-sp">
            <li class="s-header__item" data-visual-show="menu"><a href="#sec-about" data-scroll>LỊCH SỬ</a></li>
            <li class="s-header__item" data-visual-show="menu"><a href="#sec-business" data-scroll>NGHỆ THUẬT</a></li>
            <li class="s-header__item" data-visual-show="menu"><a href="#sec-works" data-scroll>TÁC PHẨM</a></li>
            <li class="s-header__item" data-visual-show="menu"><a href="#sec-company" data-scroll>GIAI ĐOẠN</a></li>
           <!--<li class="s-header__item" data-visual-show="menu"><a href="#sec-recruit" data-scroll>RESOURCE</a></li>-->
            <li class="s-header__item" data-visual-show="menu"><a href="#footer" data-scroll>LIÊN HỆ</a></li>
        </ul>
        <main class="t-basic__main">
            <section class="s-visual" data-sec="visual" data-basic-sec>
                <div class="u-inner">
                    <div class="s-visual__content">
                        <div class="s-visual__main">
                            <div class="s-visual__title">
                                <div class="s-visual__unit" data-visual-show="unit">
                                    <div data-visual-show="name">
                                        <h1 class="s-visual__head" data-visual-show="head"><svg
                                                xmlns="http://www.w3.org/2000/svg" viewbox="0 0 212.64 26.976">
                                                <title>UKIYO-E Gallery.</title>
                                                <text x="0" y="20" font-family="Inter" font-size="25" font-weight="900" fill="#2f2f2f">UKIYO-E Gallery</text>
                                            </svg></h1>
                                        <p class="s-visual__tagline" data-visual-show="tagline">Tradition &amp; Heritage
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <p class="s-visual__copy c-text--en" data-visual-show="copy">Khám phá thế giới nghệ thuật truyền thống Nhật Bản Ukiyo-e. Tìm hiểu bộ sưu tập bức tranh phù thế biểu tượng, tôn vinh vẻ đẹp và lịch sử của thời kỳ Edo ở Nhật Bản. </p>
                            <div class="s-visual__position" data-visual-show="place">
                                <p class="s-visual__pin">Niigata</p>
                                <p class="s-visual__moving"></p>
                                <p class="s-visual__pin">Tokyo</p>
                            </div>
                            <div class="s-visual__rain" data-visual-show="drop">
                                <div class="c-drop" data-drop data-drop-color="black"></div>
                            </div>
                        </div>
                        <div class="s-visual__thumb" data-pallarax data-pallarax-y="80">
                            <div data-visual-show="thumb">
                                <div class="s-visual__pic" data-pallarax-panel data-pallarax-y="-100"></div>
                                <div class="s-visual__fog">
                                    <div class="c-fog">
                                        <div class="c-fog__main"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section id="sec-about" class="s-about" data-sec="about" data-basic-sec>
                <div class="u-inner">
                    <div class="s-about__wrapper">
                        <div class="s-about__main">
                            <div class="s-about__visual">
                                <div class="s-about__title">
                                    <h2 class="s-about__head c-text--head">LỊCH SỬ</h2>
                                    <div class="s-about__dots">
                                        <div class="c-drop" data-drop data-drop-color="black"></div>
                                    </div>
                                </div>
                                <div class="s-about__movie"><video autoplay loop playsinline muted
                                        src="/homepage/images/about3.mp4"></video></div>
                                        <h3 class="s-about__copy" data-text> 高 五<br> 橋 重<br> 弘 塔<br>明 </h3>
                                <div class="s-about__rain">
                                    <div class="c-rain" data-rain data-rain-length="12"></div>
                                </div>
                            </div>
                            <div class="s-about__des">
                                <div class="s-about__unit">
                                    <h4 class="s-about__message" data-text>
                                        Khởi nguồn và phát triển <br> của Ukiyo-e
                                    </h4>
                                    <p class="s-about__lead c-text--en" data-text>Nghệ thuật phản ánh cuộc sống trần tục,<br> vẻ đẹp của quá khứ Nhật Bản.</p>
                                </div>
                                <p class="s-about__text" data-text>
                                    Nghệ thuật Ukiyo-e ra đời vào thế kỷ 17, trong thời kỳ Edo của Nhật Bản, và nhanh chóng trở thành một trong những phong trào nghệ thuật quan trọng nhất trong lịch sử văn hóa Nhật Bản. Ban đầu, Ukiyo-e chủ yếu phản ánh cuộc sống thường nhật của tầng lớp thị dân, ghi lại hình ảnh của các diễn viên kịch kabuki, kỹ nữ, và phong cảnh đô thị. 
                                <p class="s-about__text" data-text>
                                    Với sự phát triển của kỹ thuật in khắc gỗ, Ukiyo-e đã giúp nghệ thuật trở nên phổ biến hơn, khi những bức tranh không còn giới hạn trong tầng lớp quý tộc mà tiếp cận rộng rãi với mọi tầng lớp xã hội.
                                </p>
                            </div>
                        </div>
                        <div class="s-about__bottom">
                            <div class="s-about__info">
                                <div class="s-about__trigger"><a href="#" class="s-about__btn"
                                        data-toggle-trigger="about-box">
                                        <p class="s-about__label" data-text>Hình ảnh bên là gì?</p>
                                        <p class="s-about__tag" data-text></p>
                                    </a></div>
                                <div class="s-about__box" data-toggle-target="about-box">
                                    <p class="s-about__profile" data-text>
                                        Tác phẩm "Tòa tháp năm tầng Gojū-no-tō (五重塔)" của họa sĩ Takahashi Shōtei (1871-1945) mô tả tòa tháp Gojū-no-tō trong đền Senjo-kaku, một ngôi đền chưa hoàn thiện do Cựu Thái chính đại thần thời Momoyama - Toyotomi Hideyoshi xây dựng để tưởng nhớ những chiến binh đã hy sinh của mình
 
                                    </p>
                                </div>
                            </div>
                            <div class="s-about__parasol">
                                <div class="c-parasol" data-parasol="scrollTrigger" data-parasol-area="sec-about"
                                    data-parasol-length="3"><svg xmlns="http://www.w3.org/2000/svg"
                                        viewbox="0 0 47.722 47.722">
                                        <defs>
                                            <clippath id="clip-path-parasol">
                                                <rect width="47.722" height="47.722" fill="none"></rect>
                                            </clippath>
                                        </defs>
                                        <g clip-path="url(#clip-path-parasol)">
                                            <path
                                                d="M47.723,23.707H45.751l.02-.022c-3.89-3.412-4.578-5.722-3.044-10.539L44.6,12.063l-.153-.266-1.661.959.009-.045c-5.086-1.012-6.833-2.674-7.913-7.637l1.04-1.8-.266-.153L34.741,4.71l0-.015C29.8,6.369,27.459,5.79,24.014,1.982V0h-.307V1.826c-3.436,3.9-5.763,4.547-10.694,2.939l-.95-1.646-.265.153.944,1.634c-1.032,5.054-2.749,6.752-7.862,7.818L3.274,11.8l-.153.266,1.713.989c1.6,4.846.941,7.167-2.959,10.641l.013.014H0v.307H2.076c3.767,3.374,4.344,5.715,2.711,10.653l.033.011-1.7.981.153.266,1.864-1.076c4.937,1.039,6.6,2.78,7.657,7.867h0l-1,1.735.265.153,1.095-1.9c4.794-1.575,7.113-.919,10.55,2.923v2.093h.307V45.547c3.371-3.788,5.7-4.407,10.557-2.829L35.659,44.6l.266-.153-1.057-1.831c1.017-5.008,2.7-6.733,7.658-7.8l1.924,1.111.153-.266L42.85,34.646C41.2,29.76,41.764,27.418,45.5,24.013h2.218Zm-2.387,0h-20.9l17.9-10.335c-1.4,4.6-.67,7.045,3,10.335M42.449,12.952,24.28,23.441,34.658,5.466c1.091,4.715,2.943,6.47,7.79,7.486M30.411,5.881a13.447,13.447,0,0,0,4.112-.794l-10.509,18.2V2.436c2.2,2.375,4.036,3.445,6.4,3.445m-6.7-3.6v21L13.241,5.159a13.416,13.416,0,0,0,3.945.725c2.426,0,4.28-1.115,6.522-3.6M12.972,5.306,23.443,23.441,5.276,12.953c4.839-1.069,6.655-2.863,7.7-7.647M5.23,13.281,23.289,23.707H2.315c3.674-3.346,4.375-5.8,2.915-10.426m-2.7,10.733H23.289L5.17,34.475c1.508-4.725.9-7.2-2.638-10.461m3,10.606L23.443,24.279,13.024,42.324c-1.055-4.817-2.819-6.654-7.492-7.7m7.854,7.691L23.708,24.433V45.171c-3.3-3.6-5.751-4.294-10.322-2.861m10.628,2.777V24.432l10.329,17.89c-4.629-1.44-7.084-.786-10.329,2.766m10.623-2.87L24.28,24.279,42.133,34.586c-4.695,1.077-6.471,2.894-7.5,7.632m7.814-7.8-18.017-10.4H45.052c-3.508,3.279-4.112,5.751-2.6,10.4"
                                                transform="translate(0 0.001)" fill="#1a1311"></path>
                                        </g>
                                    </svg></div>
                            </div>
                        </div>
                    </div>
                </div>
                
            </section>
            <section id="sec-about1" class="s-about" data-sec="about" data-basic-sec>
                <div class="u-inner">
                    <div class="s-about__wrapper">
                        <div class="s-about__main">
                            <div class="s-about__visual">
                                <div class="s-about__title">
                                    <h2 class="s-about__head c-text--head"></h2>                                   
                                </div>
                                <div class="s-about__movie"><video autoplay loop playsinline muted
                                        src="/homepage/images/about2.mp4"></video></div>
                                <h3 class="s-about__copy1" data-text> 高 日<br> 橋 光<br> 弘 白<br> 明 雲<br>瀧</h3>
                                <div class="s-about__rain">
                                    <div class="c-rain" data-rain data-rain-length="12"></div>
                                </div>
                            </div>
                            <div class="s-about__des">
                                <div class="s-about__unit">
                                    <h4 class="s-about__message" data-text>
                                        Sự bùng nổ của Ukiyo-e <br> trong thế kỷ 18 và 19
                                    </h4>
                                    <p class="s-about__lead c-text--en" data-text>Nghệ thuật phản ánh cuộc sống trần tục,<br> vẻ đẹp của quá khứ Nhật Bản.</p>
                                </div>
                                <p class="s-about__text" data-text>
                                    Thế kỷ 18 và 19 chứng kiến sự bùng nổ mạnh mẽ của Ukiyo-e, khi các nghệ sĩ nổi tiếng như Hokusai và Hiroshige sáng tạo ra nhiều tác phẩm kinh điển. Tranh Ukiyo-e không chỉ dừng lại ở việc mô tả đời sống đô thị mà còn khám phá thêm về phong cảnh thiên nhiên, các câu chuyện dân gian, và thậm chí cả thế giới siêu nhiên. Đây cũng là thời kỳ mà kỹ thuật in màu được cải tiến, giúp cho những bức tranh trở nên sống động và phong phú hơn, làm nổi bật sự tương phản giữa các mảng màu đặc trưng của phong cách này.
                                </p>
                            </div>
                        </div>
                        <div class="s-about__bottom">
                            <div class="s-about__info">
                                <div class="s-about__trigger"><a href="#" class="s-about__btn"
                                        data-toggle-trigger="about-box">
                                        <p class="s-about__label" data-text>Hình ảnh bên là gì?</p>
                                        <p class="s-about__tag" data-text></p>
                                    </a></div>
                                <div class="s-about__box" data-toggle-target="about-box">
                                    <p class="s-about__profile" data-text>
                                        Tác phẩm "Thác Shirakumo (日光白雲の滝)" của họa sĩ Takahashi Shōtei (1871-1945) mô tả thác Shiramuko, một thác nước nằm ở khu vực Nikko của Nhật Bản. Thác nước này nổi tiếng với vẻ đẹp tự nhiên và sự xuất hiện mờ ảo như những đám mây trắng, đúng với ý nghĩa của tên gọi "Shirakumo" trong tiếng Nhật. Đây là một điểm tham quan thiên nhiên tuyệt đẹp, thu hút du khách đến vùng Nikko.
                                    </p>
                                </div>
                            </div>
                           
                        </div>
                    </div>
                </div>        
            </section> 
            <section id="sec-about2" class="s-about" data-sec="about" data-basic-sec>
                <div class="u-inner">
                    <div class="s-about__wrapper">
                        <div class="s-about__main">
                            <div class="s-about__visual">
                                <div class="s-about__title">
                                    <h2 class="s-about__head c-text--head"></h2>                                   
                                </div>
                                <div class="s-about__movie"><video autoplay loop playsinline muted
                                        src="/homepage/images/about4.mp4"></video></div>
                                <h3 class="s-about__copy" data-text> 渡 黄<br> 辺 昏<br> 省 <br> 亭 <br></h3>
                                <div class="s-about__rain">
                                    <div class="c-rain1" data-rain data-rain-length="12"></div>
                                </div>
                            </div>
                            <div class="s-about__des">
                                <div class="s-about__unit">
                                    <h4 class="s-about__message" data-text>
                                        Tác động của Ukiyo-e <br> đối với nghệ thuật thế giới
                                    </h4>
                                    <p class="s-about__lead c-text--en" data-text>Nghệ thuật phản ánh cuộc sống trần tục,<br> vẻ đẹp của quá khứ Nhật Bản.</p>
                                </div>
                                <p class="s-about__text" data-text>
                                    Vào cuối thế kỷ 19, khi Nhật Bản mở cửa giao thương với phương Tây, nghệ thuật Ukiyo-e đã có tác động lớn đến các nghệ sĩ châu Âu. Các nghệ sĩ nổi tiếng như Vincent van Gogh và Claude Monet đã bị ảnh hưởng sâu sắc bởi phong cách bố cục, màu sắc, và cách sử dụng không gian trong tranh Ukiyo-e. Sự giao thoa văn hóa này không chỉ làm phong phú thêm nghệ thuật phương Tây mà còn khẳng định vị trí quan trọng của Ukiyo-e trên trường quốc tế, góp phần lưu giữ di sản nghệ thuật đặc sắc của Nhật Bản qua nhiều thế kỷ.
                                </p>
                            </div>
                        </div>
                        <div class="s-about__bottom">
                            <div class="s-about__info">
                                <div class="s-about__trigger"><a href="#" class="s-about__btn"
                                        data-toggle-trigger="about-box">
                                        <p class="s-about__label" data-text>Hình ảnh bên là gì?</p>
                                        <p class="s-about__tag" data-text></p>
                                    </a></div>
                                <div class="s-about__box" data-toggle-target="about-box">
                                    <p class="s-about__profile" data-text>
                                        Tác phẩm "Chạng vạng (黄昏)" của họa sĩ Takahashi Hiroaki (1871-1945) mô tả một người nông dân đang trở về nhà vào buổi chiều tối. Một đàn ngỗng đang bay và mặt trời đang xuống ở phía sau.
                                    </p>
                                </div>
                            </div>
                           
                        </div>
                    </div>
                </div>        
            </section> 
            <div id="sec-business" class="s-business" data-sec="business" data-basic-sec>
                <div class="s-business__area" data-business-area="main">
                    <div class="u-inner">
                        <div data-business-area="design">
                            <div class="s-business__heads">
                                <h2 class="s-business__head c-text--head" data-text>NGHỆ THUẬT</h2>
                                <div class="s-business__dots">
                                    <div class="c-drop" data-drop data-drop-color="black"></div>
                                </div>
                            </div>
                            <div class="s-business__tab" data-business-tab><a href="#business-design"
                                    class="s-business__index" data-scroll data-business-index="design">HỌA SĨ</a>
                                <a href="#business-lifestyle" class="s-business__index" data-scroll
                                    data-business-index="lifestyle">KỸ THUẬT</a></div>
                            <div id="business-design" class="s-business__section s-business__section--design">
                                <div class="s-business__title">
                                    <h3 class="s-business__name" data-text>HỌA SĨ</h3>
                                    <p class="s-business__label" data-text>
                                        Các nghệ nhân ukiyo-e tiêu biểu</p>
                                </div>
                                <div class="s-business__content">
                                    <p class="s-business__lead c-text--en" data-text>Ukiyo-e là dòng tranh phản ánh cuộc sống phù du của con người trong thời kỳ Edo,
                                        <br class="u-no-sp">nơi nghệ nhân không chỉ khắc họa những phong cảnh thiên nhiên tươi đẹp mà còn lưu giữ hình ảnh của đời sống thường nhật, sân khấu kịch, và những nhân vật nổi tiếng.</p>
                                    <div class="s-business__design">
                                        <div class="s-business__thumb"><span class="s-business__pic"
                                                style="background-image:url(/homepage/images/artist.jpeg)"
                                                data-pallarax data-pallarax-y="-40"></span></div>
                                    </div>
                                    <p class="s-business__text" data-text>
                                        Dưới đây là những nghệ nhân Ukiyo-e tiêu biểu, những người đã góp phần định hình và phát triển dòng tranh khắc gỗ truyền thống của Nhật Bản, với các tác phẩm nổi tiếng vẫn còn ảnh hưởng mạnh mẽ đến nghệ thuật toàn cầu.
                                    </p>
                                    <ul class="s-business__list" data-text>
                                        <li class="s-business__unit">
                                            <h4 class="s-business__cat">Katsushika<br>Hokusai</h4>
                                            <ul class="s-business__roles">
                                                <li class="s-business__role">
                                                     31/10/1760 - 10/05/1849 </li>
                                                <li class="s-business__role">
                                                    Thời kỳ Edo</li>
                                                <li class="s-business__role">
                                                    Tác phẩm tiêu biểu: 36 Cảnh Núi Phú Sĩ,
                                                </li>
                                                <li class="s-business__role">
                                                    Sóng lừng ngoài khơi Kanagawa
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="s-business__unit">
                                            <h4 class="s-business__cat">Utagawa<br>Hiroshige</h4>
                                            <ul class="s-business__roles">
                                                <li class="s-business__role">
                                                    1797–12/10/1858
                                                </li>
                                                <li class="s-business__role">
                                                    Thời kỳ Edo
                                                </li>
                                                <li class="s-business__role">
                                                    Tác phẩm tiêu biểu: Năm mươi ba trạm nghỉ của Tōkaidō,
                                                </li>
                                                <li class="s-business__role">
                                                    Trăm danh thắng Edo, Bijin-ga
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="s-business__unit">
                                            <h4 class="s-business__cat">Utagawa<br>Kunisada</h4>
                                            <ul class="s-business__roles">
                                                <li class="s-business__role">
                                                    1786-12/01/1865
                                                </li>
                                                <li class="s-business__role">Thời kỳ Edo</li>
                                                <li class="s-business__role">
                                                    Tác phẩm tiêu biểu: Giờ phút ở Yoshiwara, 
                                                </li>
                                                <li class="s-business__role">Chân dung của Kunisada về diễn viên kabuki Kawarazaki Gonjuro I </li>
                                            </ul>
                                        </li>
                                        <li class="s-business__unit">
                                            <h4 class="s-business__cat">Kiyochika<br>Kobayashi</h4>
                                            <ul class="s-business__roles">
                                                <li class="s-business__role">
                                                    10/9/1847-28/11/1915
                                                </li>
                                                <li class="s-business__role">
                                                    Thời kỳ Edo
                                                </li>
                                                <li class="s-business__role">Tác phẩm tiêu biểu: Quang cảnh cầu Shin-Ohashi ở Tokyo trong mưa,</li>
                                                <li class="s-business__role">
                                                    Hỏa hoạn Ryōgoku nhìn từ Hama-chō, Điện thờ Kanda sớm bình minh
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="s-business__unit">
                                            <h4 class="s-business__cat">Tsukioka<br>Yoshitoshi</h4>
                                            <ul class="s-business__roles">
                                                <li class="s-business__role">
                                                    30/04/1839-09/06/1892
                                                </li>
                                                <li class="s-business__role">
                                                    Thời kỳ Edo
                                                </li>
                                                <li class="s-business__role">Tác phẩm tiêu biểu: 100 khía cạnh của Mặt trăng,</li>
                                                <li class="s-business__role">
                                                    Gương của những vị tướng nổi tiếng của Nhật Bản
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="s-business__unit">
                                            <h4 class="s-business__cat">Kitagawa<br>Utamaro</h4>
                                            <ul class="s-business__roles">
                                                <li class="s-business__role">
                                                    1753-31/10/1806
                                                </li>
                                                <li class="s-business__role">
                                                    Thời kỳ Edo
                                                </li>
                                                <li class="s-business__role">
                                                    Tác phẩm tiêu biểu: Hoa của Edo,</li>
                                                <li class="s-business__role">
                                                    Một trăm câu chuyện về quỷ
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                    <ul class="s-business__links">
                                        <p class="s-business__route c-text--en" data-text>Chiêm ngưỡng những tác phẩm của các nghệ sĩ trên tại đây:</p>
                                        <li class="s-business__link"><a href="/gallery"
                                                >Trang tác phẩm</a>
                                        </li>
                                        <li class="s-business__link"><a href="/exhibition"
                                                >Trang triển lãm</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div data-business-area="lifestyle">
                            <div id="business-lifestyle" class="s-business__section s-business__section--lifestyle">
                                <div class="s-business__title">
                                    <h3 class="s-business__name" data-text>KỸ THUẬT</h3>
                                    <p class="s-business__label" data-text>
                                        Cách tạo nên một Ukiyo-e truyền thống</p>
                                </div>
                                <div class="s-business__content">
                                    <p class="s-business__lead c-text--en" data-text>Để tìm hiểu thêm về kỹ thuật khắc tranh Ukiyo-e truyền thống, bạn đọc có thể tham khảo các liên kết dưới đây.</p>
                                    <div class="s-business__lifestyle">
                                        <div class="s-business__thumb"><span class="s-business__pic"
                                                style="background-image:url(/homepage/images/craftmanships.png)"
                                                data-pallarax data-pallarax-y="-40"></span> <span
                                                class="s-business__texts"><img
                                                    src="" alt=""></span></div>
                                    </div>
                                    <p class="s-business__text" data-text>&#12300;
                                        Quy trình tạo ra một bức tranh Ukiyo-e truyền thống là sự kết hợp giữa tay nghề tinh xảo và kỹ thuật phức tạp. Mỗi bức tranh thường trải qua ba giai đoạn chính: vẽ phác thảo, khắc bản gỗ, và in ấn. Đầu tiên, họa sĩ sẽ vẽ một bản phác thảo trên giấy, sau đó thợ khắc chuyển thiết kế đó lên các tấm gỗ để tạo thành các bản khắc riêng cho từng màu sắc. Cuối cùng, thợ in sử dụng những bản khắc này để in từng lớp màu lên giấy, từ đó tạo ra một tác phẩm hoàn chỉnh với độ chi tiết và màu sắc tinh tế.
                                    </p>
                                    <ul class="s-business__links">
                                        <li class="s-business__link"><a href="https://www.kumon-ukiyoe.jp/en/flow.php"
                                                target="_blank">Kumon Museum</a></li>
                                        <li class="s-business__link"><a href="https://www.youtube.com/watch?v=IdtQXm2kQYs"
                                                target="_blank">Tokyodouga</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <section id="sec-works" class="s-works" data-sec="works" data-basic-sec>
                <div class="s-works__sp u-sp">
                    <div class="u-inner">
                        <div class="s-works__title">
                            <h2 class="c-text--head">TÁC PHẨM</h2>
                            <div class="s-works__dots">
                                <div class="c-drop" data-drop data-drop-color="white"></div>
                            </div>
                        </div>
                        <div class="s-works__content">
                            <div class="swiper s-works__slider" data-works-slider>
                                <div class="swiper-wrapper s-works__list">
                                    <div class="swiper-slide s-works__item">
                                        <div class="s-works__thumb"><a href="/gallery/art1" target="_blank"><span
                                                    class="s-works__panel"
                                                    style="background-image:url(/homepage/images/art1.jpg)"></span></a>
                                        </div>
                                        <div class="s-works__info">
                                            <h3 class="s-works__name"><a href="/gallery/art1"
                                                target="_blank">Cầu Yahagi ở trạm nghỉ Okazaki đường Tōkaidō</a></h3>
                                        <ul class="s-works__roles">
                                            <li>Tôkaidô Okazaki Yahagi no hashi</li>
                                            <li>Thuộc series "Shokoku meikyô kiran" (1827–30)
                                            </li>
                                            <li>Tác giả: Katsushika Hokusai
                                            </li>
                                        </ul>
                                        </div>
                                    </div>
                                    <div class="swiper-slide s-works__item">
                                        <div class="s-works__thumb"><a href="/gallery/art2"
                                                target="_blank"><span class="s-works__panel"
                                                    style="background-image:url(/homepage/images/art2.jpg)"></span></a>
                                        </div>
                                        <div class="s-works__info">
                                            <h3 class="s-works__name"><a href="/gallery/art2"
                                                    target="_blank">THE BUTTER CAKE/BRANDING</a></h3>
                                            <ul class="s-works__roles">
                                                <li>&#12467;&#12531;&#12475;&#12503;&#12488;&#38283;&#30330;</li>
                                                <li>&#12450;&#12540;&#12488;&#12487;&#12451;&#12524;&#12463;&#12471;&#12519;&#12531;
                                                </li>
                                                <li>&#12469;&#12452;&#12488;&#21046;&#20316;</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="swiper-slide s-works__item">
                                        <div class="s-works__thumb"><a href="https://kanbarajinja.jp/"
                                                target="_blank"><span class="s-works__panel"
                                                    style="background-image:url(/assets/images/works_kanbarajinja.jpg)"></span></a>
                                        </div>
                                        <div class="s-works__info">
                                            <h3 class="s-works__name"><a href="https://kanbarajinja.jp/"
                                                    target="_blank">Kanbarajinja/Official Site</a></h3>
                                            <ul class="s-works__roles">
                                                <li>&#12469;&#12452;&#12488;&#35373;&#35336;&#12539;&#21046;&#20316;
                                                </li>
                                                <li>&#12450;&#12540;&#12488;&#12487;&#12451;&#12524;&#12463;&#12471;&#12519;&#12531;
                                                </li>
                                                <li>&#12501;&#12525;&#12531;&#12488;&#12456;&#12531;&#12489;&#38283;&#30330;
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="swiper-slide s-works__item">
                                        <div class="s-works__thumb"><a href="https://l-museum.com/"
                                                target="_blank"><span class="s-works__panel"
                                                    style="background-image:url(/assets/images/works_lmuseum.webp)"></span></a>
                                        </div>
                                        <div class="s-works__info">
                                            <h3 class="s-works__name"><a href="https://l-museum.com/" target="_blank">L
                                                    MUSEUM/Service Site</a></h3>
                                            <ul class="s-works__roles">
                                                <li>&#12450;&#12540;&#12488;&#12487;&#12451;&#12524;&#12463;&#12471;&#12519;&#12531;
                                                </li>
                                                <li>&#12469;&#12452;&#12488;&#12487;&#12470;&#12452;&#12531;</li>
                                                <li>&#12501;&#12525;&#12531;&#12488;&#12456;&#12531;&#12489;&#38283;&#30330;
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="swiper-slide s-works__item">
                                        <div class="s-works__thumb"><a href="https://www.s-kohda.com/"
                                                target="_blank"><span class="s-works__panel"
                                                    style="background-image:url(/assets/images/works_kohda.webp)"></span></a>
                                        </div>
                                        <div class="s-works__info">
                                            <h3 class="s-works__name"><a href="https://www.s-kohda.com/"
                                                    target="_blank">KOHDA/Corporate Site</a></h3>
                                            <ul class="s-works__roles">
                                                <li>&#12469;&#12452;&#12488;&#35373;&#35336;&#12539;&#21046;&#20316;
                                                </li>
                                                <li>&#12450;&#12540;&#12488;&#12487;&#12451;&#12524;&#12463;&#12471;&#12519;&#12531;
                                                </li>
                                                <li>&#12450;&#12491;&#12513;&#12540;&#12471;&#12519;&#12531;&#35373;&#35336;
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="swiper-slide s-works__item">
                                        <div class="s-works__thumb"><span class="s-works__panel"
                                                style="background-image:url(/assets/images/works_batou.jpg)"></span>
                                        </div>
                                        <div class="s-works__info">
                                            <h3 class="s-works__name">BATOU/Brand Site</h3>
                                            <ul class="s-works__roles">
                                                <li>&#12450;&#12540;&#12488;&#12487;&#12451;&#12524;&#12463;&#12471;&#12519;&#12531;
                                                </li>
                                                <li>&#12502;&#12521;&#12531;&#12489;EC&#12469;&#12452;&#12488;&#21046;&#20316;
                                                </li>
                                                <li>EC&#12469;&#12452;&#12488;&#12471;&#12473;&#12486;&#12512;&#38283;&#30330;
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="swiper-slide s-works__item">
                                        <div class="s-works__thumb"><a href="https://tmuseum.co.jp/"
                                                target="_blank"><span class="s-works__panel"
                                                    style="background-image:url(/assets/images/works_tmuseum.jpg)"></span></a>
                                        </div>
                                        <div class="s-works__info">
                                            <h3 class="s-works__name"><a href="https://tmuseum.co.jp/" target="_blank">T
                                                    museum/Corporate Site</a></h3>
                                            <ul class="s-works__roles">
                                                <li>&#12450;&#12540;&#12488;&#12487;&#12451;&#12524;&#12463;&#12471;&#12519;&#12531;
                                                </li>
                                                <li>UI&#12487;&#12470;&#12452;&#12531;</li>
                                                <li>&#12450;&#12491;&#12513;&#12540;&#12471;&#12519;&#12531;&#35373;&#35336;
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="swiper-slide s-works__item">
                                        <div class="s-works__thumb"><a href="https://revel.jp/" target="_blank"><span
                                                    class="s-works__panel"
                                                    style="background-image:url(/assets/images/works_revel.jpg)"></span></a>
                                        </div>
                                        <div class="s-works__info">
                                            <h3 class="s-works__name"><a href="https://revel.jp/"
                                                    target="_blank">REVEL/EC Site</a></h3>
                                            <ul class="s-works__roles">
                                                <li>&#12450;&#12540;&#12488;&#12487;&#12451;&#12524;&#12463;&#12471;&#12519;&#12531;
                                                </li>
                                                <li>&#12502;&#12521;&#12531;&#12489;EC&#12469;&#12452;&#12488;&#21046;&#20316;
                                                </li>
                                                <li>EC&#12469;&#12452;&#12488;&#12471;&#12473;&#12486;&#12512;&#38283;&#30330;
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="swiper-slide s-works__item">
                                        <div class="s-works__thumb"><a href="https://dius.co.jp/" target="_blank"><span
                                                    class="s-works__panel"
                                                    style="background-image:url(/assets/images/works_dius.jpg)"></span></a>
                                        </div>
                                        <div class="s-works__info">
                                            <h3 class="s-works__name"><a href="https://dius.co.jp/"
                                                    target="_blank">DIUS/Corporate Site</a></h3>
                                            <ul class="s-works__roles">
                                                <li>&#12450;&#12540;&#12488;&#12487;&#12451;&#12524;&#12463;&#12471;&#12519;&#12531;
                                                </li>
                                                <li>UI&#12487;&#12470;&#12452;&#12531;</li>
                                                <li>&#12450;&#12491;&#12513;&#12540;&#12471;&#12519;&#12531;&#35373;&#35336;
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="swiper-slide s-works__item">
                                        <div class="s-works__thumb"><a href="https://money-english.com/"
                                                target="_blank"><span class="s-works__panel"
                                                    style="background-image:url(/assets/images/works_me.jpg)"></span></a>
                                        </div>
                                        <div class="s-works__info">
                                            <h3 class="s-works__name"><a href="https://money-english.com/"
                                                    target="_blank">MONEY ENGLISH/Service Site</a></h3>
                                            <ul class="s-works__roles">
                                                <li>&#12450;&#12540;&#12488;&#12487;&#12451;&#12524;&#12463;&#12471;&#12519;&#12531;
                                                </li>
                                                <li>VI&#38283;&#30330;</li>
                                                <li>&#12469;&#12452;&#12488;&#21046;&#20316;</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="swiper-slide s-works__item">
                                        <div class="s-works__thumb"><span class="s-works__panel"
                                                style="background-image:url(/assets/images/works_kw.jpg)"></span></div>
                                        <div class="s-works__info">
                                            <h3 class="s-works__name">KITCHEN WAVE/Service Site</h3>
                                            <ul class="s-works__roles">
                                                <li>&#23566;&#32218;&#35373;&#35336;/&#12487;&#12451;&#12524;&#12463;&#12471;&#12519;&#12531;
                                                </li>
                                                <li>UI&#12487;&#12470;&#12452;&#12531;</li>
                                                <li>&#12469;&#12452;&#12488;&#27083;&#31689;</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="swiper-slide s-works__item">
                                        <div class="s-works__thumb"><a href="https://mono-kimono.jp/"
                                                target="_blank"><span class="s-works__panel"
                                                    style="background-image:url(/assets/images/works_mono_kimono.jpg)"></span></a>
                                        </div>
                                        <div class="s-works__info">
                                            <h3 class="s-works__name"><a href="https://mono-kimono.jp/"
                                                    target="_blank">mono-kimono/Brand Site</a></h3>
                                            <ul class="s-works__roles">
                                                <li>CI/VI&#38283;&#30330;</li>
                                                <li>&#12502;&#12521;&#12531;&#12489;&#12469;&#12452;&#12488;/EC&#12469;&#12452;&#12488;&#21046;&#20316;
                                                </li>
                                                <li>EC&#12469;&#12452;&#12488;&#12471;&#12473;&#12486;&#12512;&#38283;&#30330;
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="swiper-slide s-works__item">
                                        <div class="s-works__thumb"><a href="https://life-book.co.jp/"
                                                target="_blank"><span class="s-works__panel"
                                                    style="background-image:url(/assets/images/works_lifebook.jpg)"></span></a>
                                        </div>
                                        <div class="s-works__info">
                                            <h3 class="s-works__name"><a href="https://life-book.co.jp/"
                                                    target="_blank">LIFE BOOK INC./Corporate Site</a></h3>
                                            <ul class="s-works__roles">
                                                <li>&#12450;&#12540;&#12488;&#12487;&#12451;&#12524;&#12463;&#12471;&#12519;&#12531;
                                                </li>
                                                <li>web&#12469;&#12452;&#12488;&#12487;&#12470;&#12452;&#12531;</li>
                                                <li>&#26144;&#20687;&#12487;&#12470;&#12452;&#12531;</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="swiper-slide s-works__item">
                                        <div class="s-works__thumb"><a href="https://www.forfashionfuture.com/"
                                                target="_blank"><span class="s-works__panel"
                                                    style="background-image:url(/assets/images/works_fff.jpg)"></span></a>
                                        </div>
                                        <div class="s-works__info">
                                            <h3 class="s-works__name"><a href="https://www.forfashionfuture.com/"
                                                    target="_blank">For Fashion Future/Event Site</a></h3>
                                            <ul class="s-works__roles">
                                                <li>&#12452;&#12505;&#12531;&#12488;&#12469;&#12452;&#12488;&#21046;&#20316;
                                                </li>
                                                <li>web&#12469;&#12452;&#12488;&#12487;&#12470;&#12452;&#12531;</li>
                                                <li>&#12450;&#12491;&#12513;&#12540;&#12471;&#12519;&#12531;&#35373;&#35336;
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="swiper-slide s-works__item">
                                        <div class="s-works__thumb"><span class="s-works__panel"
                                                style="background-image:url(/assets/images/works_day_and_night.jpg)"></span>
                                        </div>
                                        <div class="s-works__info">
                                            <h3 class="s-works__name">DAY AND NIGHT/Poster</h3>
                                            <ul class="s-works__roles">
                                                <li>&#12450;&#12540;&#12488;&#12487;&#12451;&#12524;&#12463;&#12471;&#12519;&#12531;
                                                </li>
                                                <li>VI&#38283;&#30330;</li>
                                                <li>&#12464;&#12521;&#12501;&#12451;&#12483;&#12463;&#12487;&#12470;&#12452;&#12531;
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="s-works__pc u-no-sp" data-works-area>
                    <div class="s-works__inner u-inner" data-basic-sec-guide>
                        <div class="s-works__title">
                            <a href="/gallery">
                                <h2 class="c-text--head">TÁC PHẨM</h2>
                              </a>
                            <div class="s-works__dots">
                                <div class="c-drop" data-drop data-drop-color="white"></div>
                            </div>
                        </div>
                        <div class="s-works__scroll" data-works-scroller>
                            <ul class="s-works__belt" data-works-list>
                                <div class="s-works__item" data-works-item>
                                    <div class="s-works__thumb"><a href="/gallery/art1" target="_blank"><span
                                                data-works-panel class="s-works__panel"
                                                style="background-image:url(/homepage/images/art1.jpg)"></span></a>
                                    </div>
                                    <div class="s-works__info">
                                        <h3 class="s-works__name"><a href="/gallery/art1"
                                                target="_blank">Cầu Yahagi ở trạm nghỉ Okazaki đường Tōkaidō</a></h3>
                                        <ul class="s-works__roles">
                                            <li>Thuộc series "Shokoku meikyô kiran"</li>
                                            <li> Khoảng năm: (1827–30)
                                            </li>
                                            <li>Tác giả: Katsushika Hokusai
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="s-works__item" data-works-item>
                                    <div class="s-works__thumb"><a href="/gallery/art2"
                                            target="_blank"><span data-works-panel class="s-works__panel"
                                                style="background-image:url(/homepage/images/art2.jpg)"></span></a>
                                    </div>
                                    <div class="s-works__info">
                                        <h3 class="s-works__name"><a href="/gallery/art2"
                                                target="_blank">Chim bói cá trên cành tuyết</a></h3>
                                        <ul class="s-works__roles">
                                            <li>Thuộc Thời kỳ Chiêu Hòa (Shōwa jidai)</li>
                                            <li>Năm 1935
                                            </li>
                                            <li>Tác giả: Ohara Koson</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="s-works__item" data-works-item>
                                    <div class="s-works__thumb"><a href="/gallery/art3" target="_blank"><span
                                                data-works-panel class="s-works__panel"
                                                style="background-image:url(/homepage/images/art3.jpg)"></span></a>
                                    </div>
                                    <div class="s-works__info">
                                        <h3 class="s-works__name"><a href="/gallery/art3"
                                                target="_blank">Săn cá voi ở Goto tỉnh Hizen</a></h3>
                                        <ul class="s-works__roles">
                                            <li>Thuộc Thời kỳ Ansei</li>
                                            <li>Năm 1859 
                                            </li>
                                            <li>Tác giả: Utagawa Hiroshige II
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="s-works__item" data-works-item>
                                    <div class="s-works__thumb"><a href="/gallery/art4" target="_blank"><span
                                                data-works-panel class="s-works__panel"
                                                style="background-image:url(/homepage/images/art4.jpg)"></span></a>
                                    </div>
                                    <div class="s-works__info">
                                        <h3 class="s-works__name"><a href="/gallery/art4" target="_blank">Hoa anh đào nở ở Yoshino</a></h3>
                                        <ul class="s-works__roles">
                                            <li>Thuộc Thời kỳ Edo
                                            </li>
                                            <li>Năm 1833</li>
                                            <li>Tác giả: Katsushika Hokusai 
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="s-works__item" data-works-item>
                                    <div class="s-works__thumb"><a href="/gallery/art5" target="_blank"><span
                                                data-works-panel class="s-works__panel"
                                                style="background-image:url(/homepage/images/art5.jpg)"></span></a>
                                    </div>
                                    <div class="s-works__info">
                                        <h3 class="s-works__name"><a href="/gallery/art5"
                                                target="_blank">Diễn viên Kabuki</a></h3>
                                        <ul class="s-works__roles">
                                            <li>Thuộc Thời kỳ Edo</li>
                                            <li>Năm 1861
                                            </li>
                                            <li>Tác giả: Utagawa Kunisada
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="s-works__item" data-works-item>
                                    <div class="s-works__thumb"><a href="/gallery/art6" target="_blank"><span 
                                            data-works-panel class="s-works__panel"
                                            style="background-image:url(/homepage/images/art6.jpg)"></span></a>
                                        </div>
                                    <div class="s-works__info">
                                        <h3 class="s-works__name">Làng Ōiso</h3>
                                        <ul class="s-works__roles">
                                            <li>Thuộc Thời kỳ Edo
                                            </li>
                                            <li>Năm 1833
                                            </li>
                                            <li>Tác giả: Utagawa Hiroshige
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="s-works__item" data-works-item>
                                    <div class="s-works__thumb"><a href="/gallery/art7" target="_blank"><span
                                                data-works-panel class="s-works__panel"
                                                style="background-image:url(/homepage/images/art7.jpg)"></span></a>
                                    </div>
                                    <div class="s-works__info">
                                        <h3 class="s-works__name">
                                            Phù thủy Takiyasha và bộ xương ma quái</h3>
                                        <ul class="s-works__roles">
                                            <li>Thuộc Thời kỳ Tenpō
                                            </li>
                                            <li>Năm 1844</li>
                                            <li>Tác giả: Utagawa Kuniyoshi 
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                
                            </ul>
                        </div>
                    </div>
                </div>
            </section>
            <div id="sec-company" class="s-company" data-basic-sec>
                <div class="u-inner">
                    <div class="s-company__title">
                        <h2 class="c-text--head">GIAI ĐOẠN</h2>
                        <div class="s-company__dots">
                            <div class="c-drop" data-drop data-drop-color="black"></div>
                        </div>
                    </div>
                    <div class="s-company__content">
                        <div class="s-company__thumb"><span class="s-company__panel"
                                style="background-image:url(/homepage/images/Era.png)" data-pallarax
                                data-pallarax-x="-15"></span></div>
                        <div class="s-company__main" data-line="top">
                            <ul class="s-company__list">
                                <li class="s-company__item" data-line="bottom">
                                    <h3 class="s-company__label">Thời kỳ sơ khai (1600s–1740s): </h3>
                                    <div class="s-company__body">
                                        <p class="s-company__text">
                                            Ukiyo-e bắt đầu với các bức tranh đen trắng in bằng mộc bản, chủ đề chủ yếu là cảnh phố phường và cuộc sống đô thị Nhật Bản.</p>
                                    </div>
                                </li>
                                <li class="s-company__item" data-line="bottom">
                                    <h3 class="s-company__label">Sự phát triển của kỹ thuật in màu (1740s):</h3>
                                    <div class="s-company__body">
                                        <p class="s-company__text">Kỹ thuật "nishiki-e" được phát minh, cho phép in nhiều màu sắc, giúp ukiyo-e trở nên sống động hơn, đặc biệt trong các tác phẩm về geisha và kabuki.</p>
                                    </div>
                                </li>
                                <li class="s-company__item" data-line="bottom">
                                    <h3 class="s-company__label">Thời kỳ nở rộ (1760s–1800s): </h3>
                                    <div class="s-company__body">
                                        <p class="s-company__text">Các họa sĩ nổi tiếng như Suzuki Harunobu và Kitagawa Utamaro tập trung vào chủ đề phụ nữ, đời sống thường ngày, và cảnh quan thiên nhiên.
                                                </p>
                                        
                                    </div>
                                </li>
                                <li class="s-company__item" data-line="bottom">
                                    <h3 class="s-company__label">Thời kỳ hoàng kim (1800s–1850s):</h3>
                                    <div class="s-company__body">
                                        <p class="s-company__text">Với sự xuất hiện của các bậc thầy như Katsushika Hokusai và Utagawa Hiroshige, ukiyo-e đạt đỉnh cao nghệ thuật qua tranh phong cảnh, đặc biệt là loạt tranh về Núi Phú Sĩ và đường Tokaido.</p>
                                    </div>
                                </li>
                                <li class="s-company__item" data-line="bottom">
                                    <h3 class="s-company__label">Ảnh hưởng phương Tây (1850s–1880s): </h3>
                                    <div class="s-company__body">
                                        <p class="s-company__text">Khi Nhật Bản mở cửa giao thương, nghệ thuật ukiyo-e bị ảnh hưởng bởi nghệ thuật phương Tây, nhưng đồng thời cũng gây cảm hứng cho nhiều nghệ sĩ châu Âu.
                                            </p>
                                    </div>
                                </li>
                                <li class="s-company__item" data-line="bottom">
                                    <h3 class="s-company__label">Sự suy thoái (cuối thế kỷ 19): </h3>
                                    <div class="s-company__body">
                                        <p class="s-company__text">Dù sự phổ biến giảm dần ở Nhật Bản do sự hiện đại hóa, ukiyo-e vẫn có tác động mạnh mẽ đến phong trào nghệ thuật Japonisme tại châu Âu.</p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </main>
      <div class="t-basic__bottom" data-basic-area="black">
       <!--     <section id="sec-recruit" class="s-recruit" data-basic-sec>
                <div class="u-inner">
                    <div class="s-recruit__title">
                        <h2 class="c-text--head">CAREER</h2>
                        <div class="s-recruit__dots">
                            <div class="c-drop" data-drop data-drop-color="white"></div>
                        </div>
                    </div>
                    <div class="s-recruit__content">
                        <div class="s-recruit__thumb"><span class="s-recruit__panel"
                                style="background-image:url(/assets/images/recruit_pic.webp)" data-pallarax
                                data-pallarax-x="-15"></span></div>
                        <div class="s-recruit__main">
                            <h3 class="s-recruit__lead">We are looking for members to work with us !</h3>
                            <p class="s-recruit__message">
                                &#26032;&#12383;&#12394;&#20385;&#20516;&#12434;&#20849;&#21109;&#12375;&#12390;&#12356;&#12367;&#12513;&#12531;&#12496;&#12540;&#12434;&#21215;&#38598;&#12375;&#12390;&#12356;&#12414;&#12377;&#12290;&#12463;&#12521;&#12452;&#12450;&#12531;&#12488;&#12398;&#12499;&#12472;&#12493;&#12473;&#12434;&#21069;&#36914;&#12373;&#12379;&#12427;&#12463;&#12522;&#12456;&#12452;&#12486;&#12451;&#12502;&#12434;&#20225;&#30011;&#12539;&#21046;&#20316;&#12377;&#12427;&#12300;&#12487;&#12470;&#12452;&#12531;&#20107;&#26989;&#12301;&#12392;&#12289;&#12475;&#12524;&#12463;&#12488;&#38609;&#36008;&#12392;&#12501;&#12521;&#12531;&#12473;&#33747;&#23376;&#12434;&#25201;&#12387;&#12383;&#33258;&#31038;&#12502;&#12521;&#12531;&#12489;&#12434;&#20225;&#30011;&#12539;&#36939;&#21942;&#12377;&#12427;&#12300;&#12521;&#12452;&#12501;&#12473;&#12479;&#12452;&#12523;&#20107;&#26989;&#12301;&#12290;2&#12388;&#12398;&#20107;&#26989;&#12391;&#19968;&#32210;&#12395;&#12399;&#12383;&#12425;&#12367;&#20210;&#38291;&#12434;&#25506;&#12375;&#12390;&#12356;&#12414;&#12377;&#12290;
                            </p>
                            <ul class="c-recruits c-recruits--white">
                                <li class="c-recruits__item"><a href="#" class="c-recruits__link disabled">
                                        <p class="c-recruits__label">DESIGNER</p>
                                        <p class="c-recruits__name">&#12487;&#12470;&#12452;&#12490;&#12540;</p>
                                        <p class="c-recruits__arrow">coming soon</p>
                                    </a></li>
                                <li class="c-recruits__item"><a href="#" class="c-recruits__link disabled">
                                        <p class="c-recruits__label">ENGINEER</p>
                                        <p class="c-recruits__name">&#12456;&#12531;&#12472;&#12491;&#12450;</p>
                                        <p class="c-recruits__arrow">coming soon</p>
                                    </a></li>
                                <li class="c-recruits__item"><a href="#" class="c-recruits__link disabled">
                                        <p class="c-recruits__label">P&Acirc;TISSIER</p>
                                        <p class="c-recruits__name">&#12497;&#12486;&#12451;&#12471;&#12456;</p>
                                        <p class="c-recruits__arrow">coming soon</p>
                                    </a></li>
                                <li class="c-recruits__item"><a href="#" class="c-recruits__link disabled">
                                        <p class="c-recruits__label">SHOP STAFF</p>
                                        <p class="c-recruits__name">
                                            &#24215;&#33303;&#36939;&#21942;&#12473;&#12479;&#12483;&#12501; /
                                            &#12450;&#12523;&#12496;&#12452;&#12488;</p>
                                        <p class="c-recruits__arrow">coming soon</p>
                                    </a></li>
                            </ul>
                        </div>
                    </div>
                </div> -->
            </section> 
            <footer id="footer" class="s-footer" data-basic-sec>
                <div class="u-inner">
                    <div class="s-footer__title">
                        <p class="s-footer__head c-text--head">LIÊN HỆ</p>
                        <div class="s-footer__dots">
                            <div class="c-drop" data-drop data-drop-color="white"></div>
                        </div>
                    </div>
                    <div class="s-footer__content">
                        <div class="s-footer__des">
                            <p class="s-footer__en c-text--en">If you would like to discuss a project, request a quote,
                                collaborate with a partner, or have any other questions, please contact me.</p>
                            <p class="s-footer__text">
                                Để được tư vấn dự án, yêu cầu , hợp tác , thông tin tuyển dụng và các yêu cầu khác, vui lòng liên hệ với tôi tại đây. </p>
                        </div>
                        <div class="s-footer__main">
                            <ul class="s-footer__list">
                                <li class="s-footer__item"><a href="https://www.linkedin.com/in/nguyen-hai-anh-035502323/"
                                        class="s-footer__link" target="_blank">
                                        <div class="s-footer__line">
                                            <p class="s-footer__label">Contact Me</p>
                                            <div class="s-footer__rain">
                                                <div class="c-drop" data-drop data-drop-color="white"></div>
                                            </div>
                                        </div>
                                        <p class="s-footer__note">
                                            Contact me via LinkedIn 
                                        </p>
                                    </a></li>
                                <li class="s-footer__item"><a href="mailto:n.haianh.ea573@gmail.com" class="s-footer__link">
                                        <div class="s-footer__line">
                                            <p class="s-footer__label">n.haianh.ea573@gmail.com</p>
                                            <div class="s-footer__rain">
                                                <div class="c-drop" data-drop data-drop-color="white"></div>
                                            </div>
                                        </div>
                                        <p class="s-footer__note">
                                            Contact me by Email 
                                        </p>
                                    </a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="s-footer__bottom">
                        <p class="s-footer__logo"><svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 212.64 26.976">
                                <title>Ukiro-e Gallery</title>

                            </svg></p>
                        <ul class="s-footer__nav u-no-sp">
                            <li class="s-footer__menu"><a href="#sec-about" data-scroll>LỊCH SỬ</a></li>
                            <li class="s-footer__menu"><a href="#sec-business" data-scroll>NGHỆ THUẬT</a></li>
                            <li class="s-footer__menu"><a href="#sec-works" data-scroll>TÁC PHẨM</a></li>
                           
                            <li class="s-footer__menu"><a href="#sec-recruit" data-scroll>LIÊN HỆ</a></li>
                        </ul>
                        <p class="s-footer__copyright">Copyright &copy; 2024 Ukiyo-e Gallery All Rights Reserved.</p>
                        <div class="s-footer__pagetop" data-pagetop><a href="#" data-scroll data-pagetop-link
                                data-cursor-hide><svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 23.181 37.637">
                                    <defs>
                                        <clippath id="clip-path">
                                            <rect width="23.181" height="37.637" transform="translate(0 0)"
                                                fill="#a7a7a7"></rect>
                                        </clippath>
                                    </defs>
                                    <g clip-path="url(#clip-path)">
                                        <path
                                            d="M22.607,22.494,13.5,1.26a2.08,2.08,0,0,0-3.823,0L.574,22.493A11.577,11.577,0,0,0,11.59,37.636,11.577,11.577,0,0,0,22.607,22.494m-2.462,9.787a10.579,10.579,0,0,1-17.109,0,10.457,10.457,0,0,1-1.527-9.437L10.6,1.654a1.079,1.079,0,0,1,1.983,0l9.08,21.17a10.47,10.47,0,0,1-1.518,9.457"
                                            fill="#a7a7a7"></path>
                                    </g>
                                </svg></a>
                            <p class="u-no-sp"><span data-pagetop-wave><svg width="100%" id="svg" viewbox="0 0 1440 500"
                                        xmlns="http://www.w3.org/2000/svg"
                                        class="transition duration-300 ease-in-out delay-150">
                                        <style>
                                            .path-0 {
                                                animation: pathAnim-0 4s;
                                                animation-timing-function: linear;
                                                animation-iteration-count: infinite
                                            }

                                            @keyframes pathAnim-0 {
                                                0% {
                                                    d: path("M 0,500 C 0,500 0,250 0,250 C 137.60000000000002,286.26666666666665 275.20000000000005,322.5333333333333 430,333 C 584.8,343.4666666666667 756.8,328.1333333333334 928,310 C 1099.2,291.8666666666666 1269.6,270.9333333333333 1440,250 C 1440,250 1440,500 1440,500 Z")
                                                }

                                                25% {
                                                    d: path("M 0,500 C 0,500 0,250 0,250 C 154.53333333333336,282.4 309.0666666666667,314.8 489,307 C 668.9333333333333,299.2 874.2666666666667,251.20000000000002 1037,235 C 1199.7333333333333,218.79999999999998 1319.8666666666668,234.39999999999998 1440,250 C 1440,250 1440,500 1440,500 Z")
                                                }

                                                50% {
                                                    d: path("M 0,500 C 0,500 0,250 0,250 C 127.19999999999999,226.53333333333333 254.39999999999998,203.06666666666666 428,187 C 601.6,170.93333333333334 821.5999999999999,162.26666666666668 998,174 C 1174.4,185.73333333333332 1307.2,217.86666666666667 1440,250 C 1440,250 1440,500 1440,500 Z")
                                                }

                                                75% {
                                                    d: path("M 0,500 C 0,500 0,250 0,250 C 120.53333333333336,210.53333333333333 241.06666666666672,171.06666666666666 406,164 C 570.9333333333333,156.93333333333334 780.2666666666667,182.26666666666665 960,202 C 1139.7333333333333,221.73333333333335 1289.8666666666668,235.86666666666667 1440,250 C 1440,250 1440,500 1440,500 Z")
                                                }

                                                100% {
                                                    d: path("M 0,500 C 0,500 0,250 0,250 C 137.60000000000002,286.26666666666665 275.20000000000005,322.5333333333333 430,333 C 584.8,343.4666666666667 756.8,328.1333333333334 928,310 C 1099.2,291.8666666666666 1269.6,270.9333333333333 1440,250 C 1440,250 1440,500 1440,500 Z")
                                                }
                                            }
                                        </style>
                                        <path
                                            d="M 0,500 C 0,500 0,250 0,250 C 137.60000000000002,286.26666666666665 275.20000000000005,322.5333333333333 430,333 C 584.8,343.4666666666667 756.8,328.1333333333334 928,310 C 1099.2,291.8666666666666 1269.6,270.9333333333333 1440,250 C 1440,250 1440,500 1440,500 Z"
                                            stroke="none" stroke-width="0" fill="#a7a7a7" fill-opacity="1"
                                            class="transition-all duration-300 ease-in-out delay-150 path-0"></path>
                                    </svg></span></p>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>
    <div id="menu-modal" class="s-menu" aria-hidden="true">
        <div class="s-menu__logo">
            <div class="s-menu__logo--main"><a href="#" data-scroll><svg xmlns="http://www.w3.org/2000/svg"
                        viewbox="0 0 26.278 33.258">
                        <g transform="translate(-194.6 -231.089)">
                           
                            <path
                                d="M222.22,231.089V254.14h-5.071V241.375a.207.207,0,0,0-.395-.086l-5.868,12.851h-2.92l-5.815-12.852a.207.207,0,0,0-.4.088l.035,9.81-4.725,4.709a.2.2,0,0,1-.333-.138l-.06-24.669h5.493l6.939,15.237a.356.356,0,0,0,.647,0l7.013-15.238Z"
                                transform="translate(-1.342 0)"></path>
                        </g>
                    </svg></a></div>
            <div class="s-menu__logo--type"><svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 212.64 26.976">
                    <title>Ukiyo-e Gallery</title>
                    
                </svg></div>
        </div><a class="s-menu__close" href="#" data-menu-close>Close</a>
        <div class="s-menu__overlay" data-micromodal-close>
            <div class="u-inner">
                <div class="s-menu__container" role="dialog" aria-modal="true" data-micromodal-close>
                    <div class="s-menu__content">
                        <div class="s-menu__nav">
                            <ul class="s-menu__list">
                                <li class="s-menu__item" data-menu-fadein><a href="#" data-scroll>TOP</a></li>
                                <li class="s-menu__item" data-menu-fadein><a href="#sec-about" data-scroll>LỊCH SỬ</a>
                                </li>
                                <li class="s-menu__item" data-menu-fadein><a href="#sec-business"
                                        data-scroll>NGHỆ THUẬT</a></li>
                                <li class="s-menu__item" data-menu-fadein><a href="#sec-works" data-scroll>TÁC PHẨM</a>
                                </li>
                                <li class="s-menu__item" data-menu-fadein><a href="#sec-company" data-scroll>GIAI ĐOẠN</a>
                                </li>
                                <!--<li class="s-menu__item" data-menu-fadein><a href="#sec-recruit" data-scroll>CAREER</a>-->
                                </li>
                            </ul>
                        </div>
                        <div class="s-menu__sub" data-menu-fadein>
                            <p class="s-menu__head">LIÊN HỆ</p>
                            <ul class="s-menu__cv">
                                <li class="s-menu__unit"><a href="https://forms.gle/i2xpc1w5FavbWgBi8"
                                        class="s-menu__link" target="_blank">
                                        <div class="s-menu__line">
                                            <p class="s-menu__label">Contact Me</p>
                                            <div class="s-menu__rain">
                                                <div class="c-drop" data-drop data-drop-color="white"></div>
                                            </div>
                                        </div>
                                        <p class="s-menu__note">
                                            Contact me via LinkedIn 
                                        </p>
                                    </a></li>
                                <li class="s-menu__unit"><a href="mailto:n.haianh.ea573@gmail.com" class="s-menu__link">
                                        <div class="s-menu__line">
                                            <p class="s-menu__label">n.haianh.ea573@gmail.com</p>
                                            <div class="s-menu__rain">
                                                <div class="c-drop" data-drop data-drop-color="white"></div>
                                            </div>
                                        </div>
                                        <p class="s-menu__note">
                                            Contact me by email
                                        </p>
                                    </a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="s-menu__parasol"><a href="#sec-about" data-scroll data-cursor-hide>
                            <div class="c-parasol" data-parasol="loop" data-parasol-length="1"><svg
                                    xmlns="http://www.w3.org/2000/svg" viewbox="0 0 47.722 47.722">
                                    <defs>
                                        <clippath id="clip-path-parasol">
                                            <rect width="47.722" height="47.722" fill="none"></rect>
                                        </clippath>
                                    </defs>
                                    <g clip-path="url(#clip-path-parasol)">
                                        <path
                                            d="M47.723,23.707H45.751l.02-.022c-3.89-3.412-4.578-5.722-3.044-10.539L44.6,12.063l-.153-.266-1.661.959.009-.045c-5.086-1.012-6.833-2.674-7.913-7.637l1.04-1.8-.266-.153L34.741,4.71l0-.015C29.8,6.369,27.459,5.79,24.014,1.982V0h-.307V1.826c-3.436,3.9-5.763,4.547-10.694,2.939l-.95-1.646-.265.153.944,1.634c-1.032,5.054-2.749,6.752-7.862,7.818L3.274,11.8l-.153.266,1.713.989c1.6,4.846.941,7.167-2.959,10.641l.013.014H0v.307H2.076c3.767,3.374,4.344,5.715,2.711,10.653l.033.011-1.7.981.153.266,1.864-1.076c4.937,1.039,6.6,2.78,7.657,7.867h0l-1,1.735.265.153,1.095-1.9c4.794-1.575,7.113-.919,10.55,2.923v2.093h.307V45.547c3.371-3.788,5.7-4.407,10.557-2.829L35.659,44.6l.266-.153-1.057-1.831c1.017-5.008,2.7-6.733,7.658-7.8l1.924,1.111.153-.266L42.85,34.646C41.2,29.76,41.764,27.418,45.5,24.013h2.218Zm-2.387,0h-20.9l17.9-10.335c-1.4,4.6-.67,7.045,3,10.335M42.449,12.952,24.28,23.441,34.658,5.466c1.091,4.715,2.943,6.47,7.79,7.486M30.411,5.881a13.447,13.447,0,0,0,4.112-.794l-10.509,18.2V2.436c2.2,2.375,4.036,3.445,6.4,3.445m-6.7-3.6v21L13.241,5.159a13.416,13.416,0,0,0,3.945.725c2.426,0,4.28-1.115,6.522-3.6M12.972,5.306,23.443,23.441,5.276,12.953c4.839-1.069,6.655-2.863,7.7-7.647M5.23,13.281,23.289,23.707H2.315c3.674-3.346,4.375-5.8,2.915-10.426m-2.7,10.733H23.289L5.17,34.475c1.508-4.725.9-7.2-2.638-10.461m3,10.606L23.443,24.279,13.024,42.324c-1.055-4.817-2.819-6.654-7.492-7.7m7.854,7.691L23.708,24.433V45.171c-3.3-3.6-5.751-4.294-10.322-2.861m10.628,2.777V24.432l10.329,17.89c-4.629-1.44-7.084-.786-10.329,2.766m10.623-2.87L24.28,24.279,42.133,34.586c-4.695,1.077-6.471,2.894-7.5,7.632m7.814-7.8-18.017-10.4H45.052c-3.508,3.279-4.112,5.751-2.6,10.4"
                                            transform="translate(0 0.001)" fill="#fff"></path>
                                    </g>
                                </svg></div>
                        </a></div>
                </div>
            </div>
        </div>
    </div>
    <div class="c-cursor" data-cursor>
        <div class="c-cursor__pointer" data-cursor-pointer></div>
    </div>
</body>

</html>