<!DOCTYPE html>
<html lang="ja">

<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# website: http://ogp.me/ns/website#">
<meta charset="utf-8">
<title>UKIYO-E Gallery | TÁC PHẨM</title>
<meta name="description" content="">
<meta property="og:title" content="">
<meta property="og:type" content="website">
<meta property="og:image" content="">
<meta property="og:description" content="">
<meta property="og:name" content="">
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="">
<meta name="twitter:title" content="">
<meta name="twitter:description" content="">
<meta name="twitter:image" content="">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="format-detection" content="telephone=no,address=no,email=no">
<link rel="icon" href="/homepage/favicons/images-favicon.ico">
<link href="/gallerypage/css/locomotive-scroll.css" type="text/css" rel="stylesheet">
<link href="/gallerypage/css/swiper-bundle.min.css" type="text/css" rel="stylesheet">
<link href="/gallerypage/css/style.min.css" type="text/css" rel="stylesheet">
<script src="/gallerypage/js/jquery.min.js" defer></script>
<script src="/gallerypage/js/gsap.min.js" defer></script>
<script src="/gallerypage/js/imagesloaded.pkgd.min.js" defer></script>
<script src="/gallerypage/js/locomotive-scroll.min.js" defer></script>
<script src="/gallerypage/js/swiper-bundle.min.js" defer></script>
<script src="/gallerypage/js/script.min.js" defer></script>
<script>
(function(d) {
var config = {
kitId: 'zwi4tpp',
scriptTimeout: 3000,
async: true
},
h=d.documentElement,t=setTimeout(function(){h.className=h.className.replace(/\bwf-loading\b/g,"")+" wf-inactive";},config.scriptTimeout),tk=d.createElement("script"),f=false,s=d.getElementsByTagName("script")[0],a;h.className+=" wf-loading";tk.src='https://use.typekit.net/'+config.kitId+'.js';tk.async=true;tk.onload=tk.onreadystatechange=function(){a=this.readyState;if(f||a&&a!="complete"&&a!="loaded")return;f=true;clearTimeout(t);try{Typekit.load(config)}catch(e){}};s.parentNode.insertBefore(tk,s)
})(document);
</script>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-26105976-1"></script>
<script>
window.dataLayer = window.dataLayer || [];
function gtag(){dataLayer.push(arguments);}
gtag('js', new Date());
gtag('config', 'UA-26105976-1');
</script>
</head>
<body>
<div class="page">

<div class="page-loading">
<p></p>
</div><!-- /.page-loading -->

<div class="page__pjax" data-pjax-container>
<div class="page-container">
<div class="page-container__scroll" id="scroll" data-scroll-container>
<main class="container-main container-main--detail">

<div class="main-brush main-brush--pc">
<ul>
<li data-observe="brush">
<span>
<picture>
<source srcset="/gallerypage/img/common/pc/webp/1x/main-detail-brush-1.webp 1x, /gallerypage/img/common/pc/webp/2x/main-detail-brush-1.webp 2x" type="image/webp">
<source srcset="/gallerypage/img/common/pc/png/1x/main-detail-brush-1.png 1x, /gallerypage/img/common/pc/png/2x/main-detail-brush-1.png 2x">
<img src="/gallerypage/img/common/pc/png/1x/main-detail-brush-1.png" alt="">
</picture>
</span>
</li>
<li data-observe="brush">
<span>
<picture>
<source srcset="/gallerypage/img/common/pc/webp/1x/main-detail-brush-2.webp 1x, /gallerypage/img/common/pc/webp/2x/main-detail-brush-2.webp 2x" type="image/webp">
<source srcset="/gallerypage/img/common/pc/png/1x/main-detail-brush-2.png 1x, /gallerypage/img/common/pc/png/2x/main-detail-brush-2.png 2x">
<img src="/gallerypage/img/common/pc/png/1x/main-detail-brush-2.png" alt="">
</picture>
</span>
</li>
<li data-observe="brush">
<span>
<picture>
<source srcset="/gallerypage/img/common/pc/webp/1x/main-detail-brush-3.webp 1x, /gallerypage/img/common/pc/webp/2x/main-detail-brush-3.webp 2x" type="image/webp">
<source srcset="/gallerypage/img/common/pc/png/1x/main-detail-brush-3.png 1x, /gallerypage/img/common/pc/png/2x/main-detail-brush-3.png 2x">
<img src="/gallerypage/img/common/pc/png/1x/main-detail-brush-3.png" alt="">
</picture>
</span>
</li>
<li data-observe="brush">
<span>
<picture>
<source srcset="/gallerypage/img/common/pc/webp/1x/main-detail-brush-4.webp 1x, /gallerypage/img/common/pc/webp/2x/main-detail-brush-4.webp 2x" type="image/webp">
<source srcset="/gallerypage/img/common/pc/png/1x/main-detail-brush-4.png 1x, /gallerypage/img/common/pc/png/2x/main-detail-brush-4.png 2x">
<img src="/gallerypage/img/common/pc/png/1x/main-detail-brush-4.png" alt="">
</picture>
</span>
</li>
</ul>
</div><!-- /.header-brush -->
<div class="main-brush main-brush--sp">
<ul>
<li data-observe="brush">
<span>
<picture>
<source srcset="/gallerypage/img/common/sp/webp/main-detail-brush-1.webp" type="image/webp">
<source srcset="/gallerypage/img/common/sp/png/main-detail-brush-1.png">
<img src="/gallerypage/img/common/sp/png/main-detail-brush-1.png" alt="">
</picture>
</span>
</li>
<li data-observe="brush">
<span>
<picture>
<source srcset="/gallerypage/img/common/sp/webp/main-detail-brush-2.webp" type="image/webp">
<source srcset="/gallerypage/img/common/sp/png/main-detail-brush-2.png">
<img src="/gallerypage/img/common/sp/png/main-detail-brush-2.png" alt="">
</picture>
</span>
</li>
<li data-observe="brush">
<span>
<picture>
<source srcset="/gallerypage/img/common/sp/webp/main-detail-brush-3.webp" type="image/webp">
<source srcset="/gallerypage/img/common/sp/png/main-detail-brush-3.png">
<img src="/gallerypage/img/common/sp/png/main-detail-brush-3.png" alt="">
</picture>
</span>
</li>
<li data-observe="brush">
<span>
<picture>
<source srcset="/gallerypage/img/common/sp/webp/main-detail-brush-4.webp" type="image/webp">
<source srcset="/gallerypage/img/common/sp/png/main-detail-brush-4.png">
<img src="/gallerypage/img/common/sp/png/main-detail-brush-4.png" alt="">
</picture>
</span>
</li>
</ul>
</div><!-- /.header-brush -->

<section class="main-section main-section--detail">
<header class="section-header">
<div class="header-image" data-observe="image">
<span>
<picture>
<source srcset="/gallerypage/img/work/pc/aw202101.png" media="(max-width: 520px)">
<img src="/gallerypage/img/work/pc/aw202101.png" alt="">
</picture>
</span>
</div><!-- /.header-image -->
<div class="header-title" data-observe="fade">
<time>2023.1<br>ART WORK</time>
<h1><span class="medium">IMAGE LANGUE<br>flower code</span></h1>
<small>イメージラング：フラワーコード - 新宿高島屋美術画廊</small>
</div><!-- /.header-title -->
</header><!-- /.section-header -->
<div class="section-main">
<article class="main-article">
<header class="article-header">
<div class="header-title" data-observe="character">
<h2><p><span>O</span><span>V</span><span>E</span><span>R</span></p><p><span>V</span><span>I</span><span>E</span><span>W</span></p></h2>
</div><!-- /.header-title -->
<div class="header-sub" data-observe="vertical">
<p><span>作</span><span>品</span><span>制</span><span>作</span><span>概</span><span>要</span></p>
</div><!-- /.header-sub -->
</header><!-- /.article-header -->
<div class="article-main">
<!-- ▼ LEAD ▼ -->
<div class="main-lead" data-observe="fade">
<h3><span class="medium">IMAGE LANGUE<br class="sp">：flower code</span><span class="small">（イメージラング：フラワーコード）</span></h3>
<p>現在私たちが使用している文字や言語は、<br>
先人が体系的に定めた約束事を皆で共有することで成り立っています。<br>
イメージラングシリーズは、こうした体系の取り決めを借りて、墨象（抽象表現）を“意味”に還す試み。<br>
</p>
</div><!-- /.main-lead -->
<!-- ▲ LEAD ▲ -->
<!-- ▼ TEXT ▼ -->
<div class="main-text" data-observe="fade">
<div class="text-item">
<p>
墨象（ぼくしょう）による暗号。<br>
“開花”をテーマに花を抽象化した10個の墨象には「0から9までの数字」と「色」の役割が与えられています。<br>
会場内の作品は、この10個のオブジェクトを組み合わせて再構成したグラフィックアートです。<br>
再構成した作品の数字は、何かを意図するものであったり、全く意図のない羅列であったりします。<br>
作者にとって意図のない数字の羅列も、誰かにとっては意味のあるものかもしれません。
</p>
</div><!-- /.text-item -->
</div><!-- /.main-text -->
<!-- ▲ TEXT ▲ -->
<!-- ▼ IMAGE ▼ -->
<div class="main-image" data-observe="fade">
<div class="image-item">
<span>
<picture>
<source srcset="/gallerypage/img/work/sp/aw202301-1.jpg" media="(max-width: 520px)">
<img src="/gallerypage/img/work/pc/aw202301-1.jpg" alt="イメージラング：フラワーコード">
</picture>
</span>
<span>
<picture>
<source srcset="/gallerypage/img/work/sp/aw202301-2.jpg" media="(max-width: 520px)">
<img src="/gallerypage/img/work/pc/aw202301-2.jpg" alt="イメージラング：フラワーコード">
</picture>
</span>
<span>
<picture>
<source srcset="/gallerypage/img/work/sp/aw202301-3.jpg" media="(max-width: 520px)">
<img src="/gallerypage/img/work/pc/aw202301-3.jpg" alt="イメージラング：フラワーコード">
</picture>
</span>
<span>
<picture>
<source srcset="/gallerypage/img/work/sp/aw202301-4.jpg" media="(max-width: 520px)">
<img src="/gallerypage/img/work/pc/aw202301-4.jpg" alt="イメージラング：フラワーコード">
</picture>
</span>
<span>
<picture>
<source srcset="/gallerypage/img/work/sp/aw202301-5.jpg" media="(max-width: 520px)">
<img src="/gallerypage/img/work/pc/aw202301-5.jpg" alt="イメージラング：フラワーコード">
</picture>
</span>
<span>
<picture>
<source srcset="/gallerypage/img/work/sp/aw202301-6.jpg" media="(max-width: 520px)">
<img src="/gallerypage/img/work/pc/aw202301-6.jpg" alt="イメージラング：フラワーコード">
</picture>
</span>
<span>
<picture>
<source srcset="/gallerypage/img/work/sp/aw202301-7.jpg" media="(max-width: 520px)">
<img src="/gallerypage/img/work/pc/aw202301-7.jpg" alt="イメージラング：フラワーコード">
</picture>
</span>
</div><!-- /.image-item -->
</div><!-- /.main-image -->
<!-- ▲ IMAGE ▲ -->
<!-- ▼ IMAGE ▼ -->
<div class="main-image" data-observe="fade">
<div class="image-item">
<span>
<picture>
<source srcset="/gallerypage/img/work/sp/aw202301-8.jpg" media="(max-width: 520px)">
<img src="/gallerypage/img/work/pc/aw202301-8.jpg" alt="イメージラング：フラワーコード">
</picture>
</span>
<span>
<picture>
<source srcset="/gallerypage/img/work/sp/aw202301-9.jpg" media="(max-width: 520px)">
<img src="/gallerypage/img/work/pc/aw202301-9.jpg" alt="イメージラング：フラワーコード">
</picture>
</span>
<span>
<picture>
<source srcset="/gallerypage/img/work/sp/aw202301-10.jpg" media="(max-width: 520px)">
<img src="/gallerypage/img/work/pc/aw202301-10.jpg" alt="イメージラング：フラワーコード">
</picture>
</span>
<span>
<picture>
<source srcset="/gallerypage/img/work/sp/aw202301-11.jpg" media="(max-width: 520px)">
<img src="/gallerypage/img/work/pc/aw202301-11.jpg" alt="イメージラング：フラワーコード">
</picture>
</span>
<span>
<picture>
<source srcset="/gallerypage/img/work/sp/aw202301-12.jpg" media="(max-width: 520px)">
<img src="/gallerypage/img/work/pc/aw202301-12.jpg" alt="イメージラング：フラワーコード">
</picture>
</span>
<span>
<picture>
<source srcset="/gallerypage/img/work/sp/aw202301-13.jpg" media="(max-width: 520px)">
<img src="/gallerypage/img/work/pc/aw202301-13.jpg" alt="イメージラング：フラワーコード">
</picture>
</span>
<span>
<picture>
<source srcset="/gallerypage/img/work/sp/aw202301-14.jpg" media="(max-width: 520px)">
<img src="/gallerypage/img/work/pc/aw202301-14.jpg" alt="イメージラング：フラワーコード">
</picture>
</span>
</div><!-- /.image-item -->
</div><!-- /.main-image -->
<!-- ▲ IMAGE ▲ -->
<!-- ▼ TEXT ▼ -->
<div class="main-text" data-observe="fade">
<div class="text-item">
<p>個展に合わせて、JR口・ショーウインドウに設置されたメインビジュアル。</p>
</div><!-- /.text-item -->
</div><!-- /.main-text -->
<!-- ▲ TEXT ▲ -->
<!-- ▼ IMAGE ▼ -->
<div class="main-image" data-observe="fade">
<div class="image-item">
<span>
<picture>
<source srcset="/gallerypage/img/work/sp/aw202301-15.jpg" media="(max-width: 520px)">
<img src="/gallerypage/img/work/pc/aw202301-15.jpg" alt="イメージラング：フラワーコード">
</picture>
</span>
</div><!-- /.image-item -->
</div><!-- /.main-image -->
<!-- ▲ IMAGE ▲ -->
<!-- ▼ TEXT2 ▼ -->
<div class="main-text2" data-observe="fade">
<div class="text2-item">
<p>
会期：2022年1月30日～ 2023年1月16日<br>
時間：10:30 - 19:30<br>
会場：新宿高島屋美術画廊(及び、JR口・ショーウインドウ)<br>
主催：新宿高島屋美術画廊<br>
</p>
</div><!-- /.text2-item -->
</div><!-- /.main-text2 -->
<!-- ▲ TEXT2 ▲ -->
</div><!-- /.article-main -->
</article><!-- /.main-article -->
</div><!-- /.section-main -->
</section><!-- /.main-section -->
<section class="main-section main-section--related">
<header class="section-header">
<div class="header-title" data-observe="character">
<h2><p><span>R</span><span>E</span><span>L</span><span>A</span><span>T</span><span>E</span><span>D</span></p><p><span>W</span><span>O</span><span>R</span><span>K</span></p></h2>
</div><!-- /.header-title -->
<div class="header-sub" data-observe="vertical">
<p><span>関</span><span>連</span><span>作</span><span>品</span><span>制</span><span>作</span></p>
</div><!-- /.header-sub -->
</header><!-- /.section-header -->
<div class="section-main">
<div class="main-square" data-observe="square">
<span>
<picture>
<source srcset="/gallerypage/img/common/sp/webp/related-square.webp" media="(max-width: 520px)" type="image/webp">
<source srcset="/gallerypage/img/common/pc/webp/1x/related-square.webp 1x, /gallerypage/img/common/pc/webp/2x/related-square.webp 2x" type="image/webp">
<source srcset="/gallerypage/img/common/sp/png/related-square.png" media="(max-width: 520px)">
<source srcset="/gallerypage/img/common/pc/png/1x/related-square.png 1x, /gallerypage/img/common/pc/png/2x/related-square.png 2x">
<img src="/gallerypage/img/common/pc/png/1x/related-square.png" alt="">
</picture>
</span>
</div><!-- /.main-square -->
<div class="main-list">
<ul>
<!-- ▼ -->
<li>
<a href="aw202103.html" data-pjax-push data-observe="image">
<span>
<picture>
<source srcset="/gallerypage/img/work/sp/aw202103.png" media="(max-width: 520px)">
<img src="/gallerypage/img/work/pc/aw202103.png" alt="">
</picture>
</span>
</a>
</li>
<!-- ▲ -->
<!-- ▼ -->
<li>
<a href="aw202102.html" data-pjax-push data-observe="image">
<span>
<picture>
<source srcset="/gallerypage/img/work/sp/aw202102.png" media="(max-width: 520px)">
<img src="/gallerypage/img/work/pc/aw202102.png" alt="">
</picture>
</span>
</a>
</li>
<!-- ▲ -->
<!-- ▼ -->
<li>
<a href="aw202101.html" data-pjax-push data-observe="image">
<span>
<picture>
<source srcset="/gallerypage/img/work/sp/aw202101.png" media="(max-width: 520px)">
<img src="/gallerypage/img/work/pc/aw202101.png" alt="">
</picture>
</span>
</a>
</li>
<!-- ▲ -->
</ul>
</div><!-- /.main-list -->
</div><!-- /.section-main -->
</section><!-- /.main-section -->

<nav class="main-nav main-nav--multiple">
<div class="nav-item">
<div class="item-link" data-observe="right">
<a href="pw.html" data-pjax-push><span></span></a>
</div><!-- /.item-link -->
<div class="item-title" data-observe="character">
<h2><p><span>P</span><span>R</span><span>O</span><span>J</span><span>E</span><span>C</span><span>T</span></p></h2>
</div><!-- /.item-title -->
<div class="item-sub" data-observe="vertical">
<p><span>共</span><span>同</span><span>企</span><span>画</span><span>作</span><span>品</span><span>一</span><span>覧</span></p>
</div><!-- /.item-sub -->
</div><!-- /.nav-item -->
<div class="nav-item">
<div class="item-link" data-observe="right">
<a href="/gallery" data-pjax-push><span></span></a>
</div><!-- /.item-link -->
<div class="item-title" data-observe="character">
<h2><p><span>A</span><span>R</span><span>T</span><span>W</span><span>O</span><span>R</span><span>K</span></p></h2>
</div><!-- /.item-title -->
<div class="item-sub" data-observe="vertical">
<p><span>個</span><span>人</span><span>企</span><span>画</span><span>作</span><span>品</span><span>一</span><span>覧</span></p>
</div><!-- /.item-sub -->
</div><!-- /.nav-item -->
</nav><!-- /.main-nav -->

</main><!-- /.container-main -->
<footer class="container-footer">
    <div class="footer-nav">
    <ul>
    <li><a href="/index" >TRANG CHỦ</a></li>
    <li><a href="pw.html" data-pjax-push>PROJECT</a></li>
    <li><a href="/gallery" data-pjax-push>TÁC PHẨM</a></li>
    <li><a href="profile.html" data-pjax-push>PROFILE</a></li>
    <li><a href="mailto:n.haianh.ea573@gmail.com">CONTACT</a></li>
    </ul>
    </div><!-- /.footer-nav -->
    <div class="footer-sns">
    <ul>
    <li><a href="https://www.facebook.com/gen.miyamura.info" target="_blank"><img src="gallerypage/img/common/sns-facebook.svg" alt="FACEBOOK"></a></li>
    <li><a href="https://www.instagram.com/genmiyamura/" target="_blank"><img src="gallerypage/img/common/sns-instagram.svg" alt="INSTAGRAM"></a></li>
    </ul>
    </div><!-- /.footer-sns -->
    <div class="footer-copyright">
    <small>&copy;UKIYO-E GALLERY</small>
    </div><!-- /.footer-copyright -->
    <div class="footer-designdev">
    <span>DESIGN <small>&</small> DEV</span><a href="https://github.com/Epolis573" target="_blank">Hai Anh</a>
    </div><!-- /.footer-designdev -->
    <div class="footer-pagetop">
    <a href="#scroll">PAGETOP</a>
    </div><!-- /.footer-pagetop -->
    </footer><!-- /.container-footer -->
    </div><!-- /.page-container__scroll -->
    </div><!-- /.page-container -->
    
    <nav class="page-nav">
    <div class="nav-container">
    <div class="nav-container__scroll" data-scroll-nav>
    <div class="container-link">
    <ul>
    <li class="container-link--top"><a href="/index" ><p><span>T</span><span>O</span><span>P</span></p></a></li>
    <li class="container-link--project"><a href="pw.html" data-pjax-push><p><span>P</span><span>R</span><span>O</span><span>J</span><span>E</span><span>C</span><span>T</span></p></a></li>
    <li class="container-link--artwork"><a href="/gallery" data-pjax-push><p><span>T</span><span>Á</span><span>C</span><span>P</span><span>H</span><span>Ẩ</span><span>M</span></p></a></li>
    <li class="container-link--profile"><a href="profile.html" data-pjax-push><p><span>P</span><span>R</span><span>O</span><span>F</span><span>I</span><span>L</span><span>E</span></p></a></li>
    <li class="container-link--contact"><a href="mailto:hello@gen-m.jp"><p><span>C</span><span>O</span><span>N</span><span>T</span><span>A</span><span>C</span><span>T</span></p></a></li>
    </ul>
    </div><!-- /.container-link -->
    <div class="container-aside">
    <ul>
    </ul>
    </div><!-- /.container-aside -->
    <div class="container-sns">
    <ul>
    </ul>
    </div><!-- /.container-sns -->
    </div><!-- /.nav-container__scroll -->
    </div><!-- /.nav-container -->
    </nav><!-- /.page-nav -->
    
    <div class="page-toggle" data-observe="fade">
    <button><span class="o"><span class="i"></span></span><span class="o"><span class="i"></span></span></button>
    </div><!-- /.page-toggle -->
    
    </div><!-- /.page__pjax -->
    
    </div><!-- /.page -->
    </body>
    
</html>
