<!DOCTYPE html>
<html lang="ja">

<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# website: http://ogp.me/ns/website#">
<meta charset="utf-8">
<title>UKIYO-E Gallery | TÁC PHẨM</title>
<meta name="description" content="">
<meta property="og:title" content="">
<meta property="og:type" content="website">
<meta property="og:image" content="">
<meta property="og:description" content="">
<meta property="og:name" content="">
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="">
<meta name="twitter:title" content="">
<meta name="twitter:description" content="">
<meta name="twitter:image" content="">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="format-detection" content="telephone=no,address=no,email=no">
<link rel="icon" href="/homepage/favicons/images-favicon.ico">
<link href="gallerypage/css/locomotive-scroll.css" type="text/css" rel="stylesheet">
<link href="gallerypage/css/swiper-bundle.min.css" type="text/css" rel="stylesheet">
<link href="gallerypage/css/style.min.css" type="text/css" rel="stylesheet">
<script src="gallerypage/js/jquery.min.js" defer></script>
<script src="gallerypage/js/gsap.min.js" defer></script>
<script src="gallerypage/js/imagesloaded.pkgd.min.js" defer></script>
<script src="gallerypage/js/locomotive-scroll.min.js" defer></script>
<script src="gallerypage/js/swiper-bundle.min.js" defer></script>
<script src="gallerypage/js/script.min.js" defer></script>
<script>
(function(d) {
var config = {
kitId: 'zwi4tpp',
scriptTimeout: 3000,
async: true
},
h=d.documentElement,t=setTimeout(function(){h.className=h.className.replace(/\bwf-loading\b/g,"")+" wf-inactive";},config.scriptTimeout),tk=d.createElement("script"),f=false,s=d.getElementsByTagName("script")[0],a;h.className+=" wf-loading";tk.src='https://use.typekit.net/'+config.kitId+'.js';tk.async=true;tk.onload=tk.onreadystatechange=function(){a=this.readyState;if(f||a&&a!="complete"&&a!="loaded")return;f=true;clearTimeout(t);try{Typekit.load(config)}catch(e){}};s.parentNode.insertBefore(tk,s)
})(document);
</script>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-26105976-1"></script>
<script>
window.dataLayer = window.dataLayer || [];
function gtag(){dataLayer.push(arguments);}
gtag('js', new Date());
gtag('config', 'UA-26105976-1');
</script>
</head>
<body>
<div class="page">

<div class="page-loading">
<p></p>
</div><!-- /.page-loading -->

<div class="page__pjax" data-pjax-container>
<div class="page-container">
<div class="page-container__scroll" id="scroll" data-scroll-container>
<main class="container-main container-main--list">

<div class="main-brush main-brush--pc">
<ul>
<li data-observe="brush">
<span>
<picture>
<source srcset="./gallerypage/img/common/pc/webp/1x/main-list-brush-1.webp 1x, ./gallerypage/img/common/pc/webp/2x/main-list-brush-1.webp 2x" type="image/webp">
<source srcset="./gallerypage/img/common/pc/png/1x/main-list-brush-1.png 1x, ./gallerypage/img/common/pc/png/2x/main-list-brush-1.png 2x">
<img src="/gallerypage/img/common/pc/png/1x/main-list-brush-1.png" alt="">
</picture>
</span>
</li>
<li data-observe="brush">
<span>
<picture>
<source srcset="./gallerypage/img/common/pc/webp/1x/main-list-brush-2.webp 1x, ./gallerypage/img/common/pc/webp/2x/main-list-brush-2.webp 2x" type="image/webp">
<source srcset="./gallerypage/img/common/pc/png/1x/main-list-brush-2.png 1x, ./gallerypage/img/common/pc/png/2x/main-list-brush-2.png 2x">
<img src="/gallerypage/img/common/pc/png/1x/main-list-brush-2.png" alt="">
</picture>
</span>
</li>
<li data-observe="brush">
<span>
<picture>
<source srcset="./gallerypage/img/common/pc/webp/1x/main-list-brush-3.webp 1x, ./gallerypage/img/common/pc/webp/2x/main-list-brush-3.webp 2x" type="image/webp">
<source srcset="./gallerypage/img/common/pc/png/1x/main-list-brush-3.png 1x, ./gallerypage/img/common/pc/png/2x/main-list-brush-3.png 2x">
<img src="/gallerypage/img/common/pc/png/1x/main-list-brush-3.png" alt="">
</picture>
</span>
</li>
<li data-observe="brush">
<span>
<picture>
<source srcset="./gallerypage/img/common/pc/webp/1x/main-list-brush-4.webp 1x, ./gallerypage/img/common/pc/webp/2x/main-list-brush-4.webp 2x" type="image/webp">
<source srcset="./gallerypage/img/common/pc/png/1x/main-list-brush-4.png 1x, ./gallerypage/img/common/pc/png/2x/main-list-brush-4.png 2x">
<img src="/gallerypage/img/common/pc/png/1x/main-list-brush-4.png" alt="">
</picture>
</span>
</li>
</ul>
</div><!-- /.header-brush -->
<div class="main-brush main-brush--sp">
<ul>
<li data-observe="brush">
<span>
<picture>
<source srcset="./gallerypage/img/common/sp/webp/main-list-brush-1.webp" type="image/webp">
<source srcset="./gallerypage/img/common/sp/png/main-list-brush-1.png">
<img src="/gallerypage/img/common/sp/png/main-list-brush-1.png" alt="">
</picture>
</span>
</li>
<li data-observe="brush">
<span>
<picture>
<source srcset="./gallerypage/img/common/sp/webp/main-list-brush-2.webp" type="image/webp">
<source srcset="./gallerypage/img/common/sp/png/main-list-brush-2.png">
<img src="/gallerypage/img/common/sp/png/main-list-brush-2.png" alt="">
</picture>
</span>
</li>
<li data-observe="brush">
<span>
<picture>
<source srcset="./gallerypage/img/common/sp/webp/main-list-brush-3.webp" type="image/webp">
<source srcset="./gallerypage/img/common/sp/png/main-list-brush-3.png">
<img src="/gallerypage/img/common/sp/png/main-list-brush-3.png" alt="">
</picture>
</span>
</li>
</ul>
</div><!-- /.header-brush -->

<section class="main-section main-section--list">
<header class="section-header section-header--artwork">
<div class="header-title" data-observe="character">
<h1><p><span>T</span><span>Á</span><span>C</span></p><p><span>P</span><span>H</span><span>Ẩ</span><span>M</span></p></h1>
</div><!-- /.header-title -->
<div class="header-sub" data-observe="vertical">
<p><span>ART</span><span>&nbsp;</span><span>GALLERY</span><span></span><span></span><span></span></p>
</div><!-- /.header-sub -->
<div class="header-text" data-observe="character">
<p><span>Các bức tranh tiêu biểu mang đến cái nhìn toàn diện <br> về nghệ thuật Ukiyo-e, </span><br class="pc"><span>Thể hiện sự tinh tế trong từng chi tiết <br> và những câu chuyện văn hóa đặc sắc của Nhật Bản.</span><br class="pc"><span>.</span></p>
</div><!-- /.header-text -->
</header><!-- /.section-header -->
<div class="section-main">
<div class="main-image">
<ul>
<!-- ▼ LINK ▼ -->
<li>
<a href="/gallery/art1" data-pjax-push data-observe="image">
<span>
<picture>
<source srcset="./gallerypage/img/work/sp/aw202301.png" media="(max-width: 520px)">
<img src="gallerypage/img/work/pc/aw202301.png" alt="">
</picture>
</span>
</a>
</li>
<!-- ▲ LINK ▲ -->
<!-- ▼ LINK ▼ -->
<li>
<a href="/gallery/art2" data-pjax-push data-observe="image">
<span>
<picture>
<source srcset="./gallerypage/img/work/sp/aw202202.png" media="(max-width: 520px)">
<img src="gallerypage/img/work/pc/aw202202.png" alt="">
</picture>
</span>
</a>
</li>
<!-- ▲ LINK ▲ -->
<!-- ▼ LINK ▼ -->
<li>
<a href="/gallery/art3" data-pjax-push data-observe="image">
<span>
<picture>
<source srcset="./gallerypage/img/work/sp/aw202104.png" media="(max-width: 520px)">
<img src="gallerypage/img/work/pc/aw202104.png" alt="">
</picture>
</span>
</a>
</li>
<!-- ▲ LINK ▲ -->
<!-- ▼ LINK ▼ -->
<li>
<a href="/gallery/art4" data-pjax-push data-observe="image">
<span>
<picture>
<source srcset="./gallerypage/img/work/sp/aw202103.png" media="(max-width: 520px)">
<img src="gallerypage/img/work/pc/aw202103.png" alt="">
</picture>
</span>
</a>
</li>
<!-- ▲ LINK ▲ -->
<!-- ▼ LINK ▼ -->
<li>
<a href="/gallery/art5" data-pjax-push data-observe="image">
<span>
<picture>
<source srcset="./gallerypage/img/work/sp/aw202102.png" media="(max-width: 520px)">
<img src="gallerypage/img/work/pc/aw202102.png" alt="">
</picture>
</span>
</a>
</li>
<!-- ▲ LINK ▲ -->
<!-- ▼ LINK ▼ -->
<li>
<a href="/gallery/art6" data-pjax-push data-observe="image">
<span>
<picture>
<source srcset="./gallerypage/img/work/sp/aw202101.png" media="(max-width: 520px)">
<img src="gallerypage/img/work/pc/aw202101.png" alt="">
</picture>
</span>
</a>
</li>
<!-- ▲ LINK ▲ -->
<!-- ▼ LINK ▼ -->
<li>
<a href="/gallery/art7" data-pjax-push data-observe="image">
<span>
<picture>
<source srcset="./gallerypage/img/work/sp/aw201902.png" media="(max-width: 520px)">
<img src="gallerypage/img/work/pc/aw201902.png" alt="">
</picture>
</span>
</a>
</li>
<!-- ▲ LINK ▲ -->
<!-- ▼ LINK ▼ -->
<li>
<a href="/gallery/art8" data-pjax-push data-observe="image">
<span>
<picture>
<source srcset="./gallerypage/img/work/sp/aw201901.png" media="(max-width: 520px)">
<img src="gallerypage/img/work/pc/aw201901.png" alt="">
</picture>
</span>
</a>
</li>
<!-- ▲ LINK ▲ -->
<!-- ▼ LINK ▼ -->
<li>
<a href="/gallery/art9" data-pjax-push data-observe="image">
<span>
<picture>
<source srcset="./gallerypage/img/work/sp/aw201801.png" media="(max-width: 520px)">
<img src="gallerypage/img/work/pc/aw201801.png" alt="">
</picture>
</span>
</a>
</li>
<!-- ▲ LINK ▲ -->
<!-- ▼ LINK ▼ -->
<li>
<a href="/gallery/art10" data-pjax-push data-observe="image">
<span>
<picture>
<source srcset="./gallerypage/img/work/sp/aw201401.png" media="(max-width: 520px)">
<img src="gallerypage/img/work/pc/aw201401.png" alt="">
</picture>
</span>
</a>
</li>
<!-- ▲ LINK ▲ -->
<!-- ▼ LINK ▼ -->
<li>
<a href="/gallery/art11" data-pjax-push data-observe="image">
<span>
<picture>
<source srcset="./gallerypage/img/work/sp/aw201301.png" media="(max-width: 520px)">
<img src="gallerypage/img/work/pc/aw201301.png" alt="">
</picture>
</span>
</a>
</li>
<!-- ▲ LINK ▲ -->
<!-- ▼ LINK ▼ -->
<li>
<a href="/gallery/art12" data-pjax-push data-observe="image">
<span>
<picture>
<source srcset="./gallerypage/img/work/sp/aw201202.png" media="(max-width: 520px)">
<img src="gallerypage/img/work/pc/aw201202.png" alt="">
</picture>
</span>
</a>
</li>
<!-- ▲ LINK ▲ -->
<!-- ▼ LINK ▼ -->
<li>
<a href="/gallery/art13" data-pjax-push data-observe="image">
<span>
<picture>
<source srcset="./gallerypage/img/work/sp/aw201201.png" media="(max-width: 520px)">
<img src="gallerypage/img/work/pc/aw201201.png" alt="">
</picture>
</span>
</a>
</li>
<!-- ▲ LINK ▲ -->
<!-- ▼ LINK ▼ -->
<li>
<a href="/gallery/art14" data-pjax-push data-observe="image">
<span>
<picture>
<source srcset="./gallerypage/img/work/sp/aw201003.png" media="(max-width: 520px)">
<img src="gallerypage/img/work/pc/aw201003.png" alt="">
</picture>
</span>
</a>
</li>
<!-- ▲ LINK ▲ -->
<!-- ▼ LINK ▼ -->
<li>
<a href="/gallery/art15" data-pjax-push data-observe="image">
<span>
<picture>
<source srcset="./gallerypage/img/work/sp/aw201002.png" media="(max-width: 520px)">
<img src="gallerypage/img/work/pc/aw201002.png" alt="">
</picture>
</span>
</a>
</li>
<!-- ▲ LINK ▲ -->
<!-- ▼ LINK ▼ -->
<li>
<a href="/gallery/art16" data-pjax-push data-observe="image">
<span>
<picture>
<source srcset="./gallerypage/img/work/sp/aw201001.png" media="(max-width: 520px)">
<img src="./gallerypage/img/work/pc/aw201001.png" alt="">
</picture>
</span>
</a>
</li>
<!-- ▲ LINK ▲ -->
<!-- ▼ LINK ▼ -->
<li>
<a href="/gallery/art17" data-pjax-push data-observe="image">
<span>
<picture>
<source srcset="./gallerypage/img/work/sp/aw201001.png" media="(max-width: 520px)">
<img src="./gallerypage/img/work/pc/aw2011011.png" alt="">
</picture>
</span>
</a>
</li>
<!-- ▲ LINK ▲ -->
</ul>
</div><!-- /.main-image -->
</div><!-- /.section-main -->
</section><!-- /.main-section -->

<nav class="main-nav main-nav--project">
<div class="nav-item">
<div class="item-link" data-observe="right">
<a href="/exhibition" ><span></span></a>
</div><!-- /.item-link -->
<div class="item-title" data-observe="character">
<h2><p><span>A</span><span>R</span><span>T</span></p><p><span>E</span><span>X</span><span>H</span><span>I</span><span>B</span><span>I</span><span>T</span><span>I</span><span>O</span><span>N</span></p></h2>
</div><!-- /.item-title -->
<div class="item-sub" data-observe="vertical">
    <p><span>TRANG</span><span>&nbsp;</span><span>TRIỂN</span><span>&nbsp;</span><span>LÃM</span><span></span><span></span><span></span></p>
</div><!-- /.item-sub -->
</div><!-- /.nav-item -->
</nav><!-- /.main-nav -->

</main><!-- /.container-main -->
<footer class="container-footer">
<div class="footer-nav">
<ul>
<li><a href="/index" >TRANG CHỦ</a></li>
<li><a href="pw.html" data-pjax-push>PROJECT</a></li>
<li><a href="/gallery" data-pjax-push>TÁC PHẨM</a></li>
<li><a href="profile.html" data-pjax-push>PROFILE</a></li>
<li><a href="mailto:n.haianh.ea573@gmail.com">CONTACT</a></li>
</ul>
</div><!-- /.footer-nav -->
<div class="footer-sns">
<ul>
<li><a href="https://www.facebook.com/gen.miyamura.info" target="_blank"><img src="gallerypage/img/common/sns-facebook.svg" alt="FACEBOOK"></a></li>
<li><a href="https://www.instagram.com/genmiyamura/" target="_blank"><img src="gallerypage/img/common/sns-instagram.svg" alt="INSTAGRAM"></a></li>
</ul>
</div><!-- /.footer-sns -->
<div class="footer-copyright">
<small>&copy;UKIYO-E GALLERY</small>
</div><!-- /.footer-copyright -->
<div class="footer-designdev">
<span>DESIGN <small>&</small> DEV</span><a href="https://github.com/Epolis573" target="_blank">Hai Anh</a>
</div><!-- /.footer-designdev -->
<div class="footer-pagetop">
<a href="#scroll">PAGETOP</a>
</div><!-- /.footer-pagetop -->
</footer><!-- /.container-footer -->
</div><!-- /.page-container__scroll -->
</div><!-- /.page-container -->

<nav class="page-nav">
<div class="nav-container">
<div class="nav-container__scroll" data-scroll-nav>
<div class="container-link">
<ul>
<li class="container-link--top"><a href="/index" ><p><span>T</span><span>O</span><span>P</span></p></a></li>
<li class="container-link--project"><a href="pw.html" data-pjax-push><p><span>P</span><span>R</span><span>O</span><span>J</span><span>E</span><span>C</span><span>T</span></p></a></li>
<li class="container-link--artwork"><a href="/gallery" data-pjax-push><p><span>T</span><span>Á</span><span>C</span><span>P</span><span>H</span><span>Ẩ</span><span>M</span></p></a></li>
<li class="container-link--profile"><a href="profile.html" data-pjax-push><p><span>P</span><span>R</span><span>O</span><span>F</span><span>I</span><span>L</span><span>E</span></p></a></li>
<li class="container-link--contact"><a href="mailto:hello@gen-m.jp"><p><span>C</span><span>O</span><span>N</span><span>T</span><span>A</span><span>C</span><span>T</span></p></a></li>
</ul>
</div><!-- /.container-link -->
<div class="container-aside">
<ul>
</ul>
</div><!-- /.container-aside -->
<div class="container-sns">
<ul>
</ul>
</div><!-- /.container-sns -->
</div><!-- /.nav-container__scroll -->
</div><!-- /.nav-container -->
</nav><!-- /.page-nav -->

<div class="page-toggle" data-observe="fade">
<button><span class="o"><span class="i"></span></span><span class="o"><span class="i"></span></span></button>
</div><!-- /.page-toggle -->

</div><!-- /.page__pjax -->

</div><!-- /.page -->
</body>


</html>
